Unrecognised options of class "critical" doesn't return 4.02 Bad Option Response

Hi!
from my unit tests
here are my results,
As per RFC 7252 Section 5.4.1

> Unrecognized options of class "critical" that occur in a
>     Confirmable request MUST cause the return of a 4.02 (Bad Option)
>     response

The unrecognised criticial option: `is using If-None-Match option Repeatable`
Bad option response is not returned either on Dataparser level or on CoapEndpoint level.
Now I conclude it by saying not just the java docs of the option set and option classes have to be polished but also we need to fix the If-None-Match Unrecognized Critical option in a Confirmable message as a Bad option Diagonistic payload Response.

I am not sure if I understand the intention of this issue. The RFC requires endpoints to return a 4.02 if a critical option is not understood. Cf itself does understand each and every option (given that it is encoded properly). That said, IMHO it is a particular resource's responsibility to return a 4.02 if it receives a request containing a critical option that *the resource* does not understand or does not know how to handle, right? 

There are cases, where the resource is responsible, and there are cases, where the stack can detect that violation and report this either by response 4.02 or by reject the message. Sure, it maybe not that easy to implement it, maybe we need a additional subclass of `CoAPMessageFormatException` to add the token for such a response. We will see ... 

Fixed in the meantime :-).