Server Initiated Handshake

Hi,
Since a while we are observing that when ever an established connection between server and client is interrupted [no matter what the reason was], on re-initiating the HandShake from server the client aborts it
below is the log trace:-
INFO  [2016-12-02 16:05:12,099] org.eclipse.californium.scandium.DTLSConnector: Aborting handshake with peer [/192.168.0.186:47678]: No Identity found for peer: /192.168.0.186:47678

What we wanted to know is how can we re initiate the HandShake with the client [Leshan Client] after we have bounced server[Leshan Server], actual problem occurs when a ReadRequest is made from server [Leshan Server] it is discarded internally by the DTLSConnector class and the above logs appear on the console.  We observed that our ReadRequest never reaches the client [Leshan Client]
We are currently using the 0.1.11-M11-SNAPSHOT version of Leshan.


I also observed the same thing in which whenever server bounces it lost connection to the client now when server tries to send any request to client it gives:--
**no identity found for the peer.**
also server not receiving the observe response from client.

**In real life scenario**:--  when millions of devices are registered with server and by any reason server restarted it looses all the existing connections. and also results in loss of data until clients come for the re registration/update.  

There was a discussion on this topic last year

http://dev.eclipse.org/mhonarc/lists/cf-dev/msg00409.html

Maybe it's now the right time to make it configurable.

>What we wanted to know is how can we re initiate the HandShake with the client [Leshan Client] after we have bounced server[Leshan Server], actual problem occurs when a ReadRequest is made from server [Leshan Server] it is discarded internally by the DTLSConnector class and the above logs appear on the console. We observed that our ReadRequest never reaches the client [Leshan Client]
We are currently using the 0.1.11-M11-SNAPSHOT version of Leshan.

You are experiencing this because the server does not know the PSK identity of the client you are trying to establish a DTLS session with. In order for this to work you need to register the PSK identities of your clients (along with their IP addresses) on the LWM2M server side in Scandium's `org.eclipse.californium.scandium.dtls.pskstore.PskStore`. However, in an environment where the clients have dynamic IP addresses and ports (as is the case in most NATed environments), this will not help much because the client's IP address will probably have changed by the time your server has been restarted, or it may not be accessible from the outside at all, e.g. if the firewall prevents this.
So, in most cases the better strategy will be to wait for the device doing its next *update registration* and then do the read request.

I do not think that the approach outlined by @boaks in his link above is applicable in this context. If the server were to send a `HelloRequest` to the client after it has restarted, the client will most likely be under the assumption that its DTLS session is still valid and will try to re-negotiate the session. This will fail because the server has no existing security association with the client and hence cannot decrypt the handshake messages sent by the client. However, the client may use this failure as a hint to start a new (full)) handshake at the end of which the server will be able to send its read request (as in your example). Be aware though that [RFC 7925, Section 17](https://tools.ietf.org/html/rfc7925#section-17) explicitly prohibits renegotiation of DTLS sessions, thus clients implementing this RFC will most likely discard `HELLO_REQUEST` messages.


I think we should first split the issue into two sub issues:

1. In which cases does it make sense, that the "past" DTLS server gets the new "DTLS" client?
Simon pointed out, that there are case, in which this role exchange makes sense. OK.
My personal experience is, that it mixes more up then it sorts out. Therefore I would still prefer to have configurable behavior, which may be setup for "role exchanging" or for "explizit roles".
   
With the "role exchange" feature, everything is OK (as long, as your operating in a covered setup).

With "explizit roles", there is currently no way for the DTLS server to indicate the DTLS client to establish
a new session. 

Therefore a second issue would be, how this could be changed. In my opinion, the Hello_Request is mainly defined for usage in TLS. In that case, it makes only sense, if a TLS session/connection is already established. A TLS server would not even ba able to "connect" a TLS client, caused by the TCP nature!
For DTLS this **could** be different. But though there are other changes (TLS 1.3 or CID) ahead,
I don't think its worth to be changed. 

So with "fixed roles" a DTLS server has to rely on a DTLS client to detect, that a new session is required (using request timeouts or what ever).


@internetOfThings123 
@Fakhruddin-Kararawala 

Have you been able to implement (PskStore) the and use the "DTLS role exchange" successful on your site (network setup)?
If not, would a configurable role as "CLIENT,SERVER,BOTH" improve your usage?



If this issue still occurs, don't hesitate to reopen this issue or create a new one.