DTLS handshake not working with libcoap example client via x509 one-way authentication

# Issue

When connecting to my Californium Coap DTLS server with the [libcoap](https://github.com/obgm/libcoap/tree/release-4.2.1) example client using x509 certificates and one-way authentication I run into issues with the DTLS handshake. This fails with both openssl and gnutls, but at different points in the handshake.

Connecting with the Californium client, and with [go-coap](https://github.com/go-ocf/go-coap) does work as expected.

# COAP DTLS Server configuration

For the server I am using a Lets Encrypt certificate (using ECDSA algorithm) issued for our domain `coap.blockbax.com` via ACME DNS01 challenge.
The server is configured as follows:

```
    public CoapServer dtlsCoapServer() {
        CoapServer server = new CoapServer();
        DtlsConnectorConfig.Builder builder = new DtlsConnectorConfig.Builder();
        builder.setAddress(new InetSocketAddress(coapServerProps.getPort()));
        builder.setServerOnly(true);
        builder.setClientAuthenticationRequired(false);
        configureServerCertificate(builder);
        DTLSConnector connector = new DTLSConnector(builder.build());
        CoapEndpoint.Builder coapBuilder = new CoapEndpoint.Builder();
        coapBuilder.setConnector(connector);
        server.addEndpoint(coapBuilder.build());
        return server;
    }

    private void configureServerCertificate(DtlsConnectorConfig.Builder config) {
        try {
            SslContextUtil.Credentials serverCredentials = SslContextUtil.loadCredentials(
                SslContextUtil.CLASSPATH_SCHEME + coapServerProps.getKeyStoreLocation(),
                coapServerProps.getCertificateAlias(),
                coapServerProps.getKeyStorePassword().toCharArray(),
                coapServerProps.getKeyStorePassword().toCharArray());
            List<CertificateType> types = List.of(CertificateType.X_509);
            config.setIdentity(serverCredentials.getPrivateKey(), serverCredentials.getCertificateChain(), types);
        } catch (GeneralSecurityException e) {
            log.error("Certificates are invalid!", e);
            throw new IllegalArgumentException(e.getMessage());
        } catch (IOException e) {
            log.error("Certificates are missing!", e);
            throw new IllegalArgumentException(e.getMessage());
        }
        if (config.getIncompleteConfig().getSupportedCipherSuites() == null) {
            config.setSupportedCipherSuites(CipherSuite.getEcdsaCipherSuites(true));
        }
    }
```

# Versions used

* californium 2.1.0
* scandium 2.1.0
* go-coap - [master branch commit 298a26e
](https://github.com/go-ocf/go-coap/commit/298a26e4e9c8844001c831154de4b0b65d04f1d1)
* libcoap - [4.2.1 release branch](https://github.com/obgm/libcoap/tree/release-4.2.1)
* gnutls 3.6.9
* openssl 1.1.1c

# Log files

The following log files are attached (highest verbosity):

* libcoap example client (with gnutls) - [logs](https://github.com/eclipse/californium/files/4393105/libcoap-client-gnutls.log)
* libcoap example client (with openssl) - [logs](https://github.com/eclipse/californium/files/4393108/libcoap-client-openssl.log)

# Pcap files

A [zip with pcap files](https://github.com/eclipse/californium/files/4393101/pcaps.zip) (captured UDP for port 5684) is attached for the following cases:

* libcoap client (with gnutls - not working)
* libcoap client (with openssl - not working)
* californium client (working)
* go-coap client (working)


I looked at the **libcoap client (with gnutls - not working)** capture.

And I see several problems at client side : 
1. the first CLIENT_HELLO use a Random of 32 \0 bytes, Cookie field MUST be empty.
2. then CLIENT_HELLO should be retransmitted using same parameters + the cookie in HELLO_VERIFY, in the capture Random change all the time.
(see https://tools.ietf.org/html/rfc6347#section-4.2.1)

Hi @sbernard31 thank you so much for lending some of your expertise to help out :-) - so that would imply an issue with gnutls? Do you have a clue what is going wrong in the openssl case, because that one seems to reject/ignore the Server response.

For the **libcoap client (with openssl - not working)**, it's harder to know as "californium/scandium" seems to respond to 2nd `CLIENT_HELLO` "correctly" but client ignores the flight... and openssl logs say nothing...

Is there any way to get more log at openssl side to understand why it ignores the messages ? 

From wireshark logs:
gnutls doesn't like the "Hello Verify Request", so  I guess, gnutls doesn't really support DTLS 1.2 at all.
openssl seems to reject the server flight (Server Hello, Certificate, Server Key Exchange, and Server Hello Done). I can't see any messages in the log which explains, why openssl  doesn't like them.
 


Just to mention:
Using "proper certificates and openssl client setup" works, therefore the "interoperability test" in cf-secure.


> so that would imply an issue with gnutls? 

Yes, it seems to me. Could you open an issue at [gnutls](https://gitlab.com/gnutls/gnutls/) which point to this issue or [my comment](https://github.com/eclipse/californium/issues/1260#issuecomment-604958705) ? 

>  gnutls doesn't really support DTLS 1.2 at all.

I tested gnutls by the past with scandium and that was working to me, so I suspect this is a regression.

@boaks @sbernard31 thank you for the help. I will open an issue with gnutls. Do you remember which version of gnutls you used that was working with DTLS 1.2?

I will try to get extra info from the openssl variant. Unfortunately this is the highest verbosity.

I remember using openssl s_client standalone to succesfully perform a handshake. So if that works i presume the libcoap client could also work but is simply misconfigured or used differently?


> i presume the libcoap client could also work but is simply misconfigured or used differently?

Maybe. I would always check the openssl setup, at least remove the ciphersuites not wanted. Maybe, it's just a idea, use `builder.setClientAuthenticationWanted(true);`


> Do you remember which version of gnutls you used that was working with DTLS 1.2?

No idea, that was very long time ago... I still have a wireshark capture which dates back to 2015 :sweat_smile: 

A capture using openssl client and scandium (current snapshot) with californium's certificates. [openssl.pcap..zip](https://github.com/eclipse/californium/files/4393687/openssl.pcap.zip) 

So maybe, it's just the openssl configuration or your certificates.



I've also opened a similar issue at libcoap. A committer says the openssl issue is due to the server handshake packet being too large causing fragmentation. See [this answer](https://github.com/obgm/libcoap/issues/477#issuecomment-604967474). 

Do you think it is a good idea to incorporate this in the Californium server?

Set a proper [MTU](https://github.com/eclipse/californium/blob/master/scandium-core/src/main/java/org/eclipse/californium/scandium/config/DtlsConnectorConfig.java#L1310).

> A committer says the openssl issue is due to the server handshake packet being too large causing fragmentation.

But wireshark says, it got reassembled in the UDP layer :-). Maybe it's an "buffer overflow" because openssl expect, that the handshake messages are smaller. Maybe you can also setup larger buffers in openssl.




If you build californium from source and run the demo-apps/cf-secure unit tests using your certificates, maybe that helps to located the issue.
Otherwise I will try to spend some time into a setup with "mixed certificate path => ECDSA - RSA - RSA" and also larger certificates. But I'm not sure, if there will be time left for that.

Cheers! Yes it is possible to increase the buffer size for openssl. My concern however is for client applications where users do not have control over these settings. 

I presume in that case the only option is to reduce the size of our certificate chain by either:

a) providing the intermediate lets encrypt X3 certificate separately and requiring the user to install it - and then not sending the intermediate by the server
b) using a different certificate provider that does not use an intermediate certificate

Why do you think, x509 is a good choice at all?
But if so, why do you think, that a public x509 certificate is requiried?
(For a) you can present any server certificate using an https download, which then may be protected by such a public x509 certificate. for b) yes, be your own CA.). 
And if the clients are "prepared/deployed", 

In our case we prefer x509 over PSK because we have no control over the clients. So in case a PSK replacement would be needed that is very unpractical.

I've just changed the MTU to 1152 (thank you for the pointer!) as suggested in the libcoap issue thread, and the openssl case then works. 

I'm curious why they chose the value 1152 as a DTLS MTU on libcoap side.




> a) providing the intermediate lets encrypt X3 certificate separately and requiring the user to install it - and then not sending the intermediate by the server

From what I remember this is not compliant with RFC, only root certificate can be omit from the CertChain.

By the way your certificate takes 1170 bytes, so I'm not sure this will help.

> I've just changed the MTU to 1152 (thank you for the pointer!) as suggested in the libcoap issue thread, and the openssl case then works.

Great!





Yes @sbernard31 I was afraid that would not be compliant :-) 

When an intermediate certificate would not need to be sent the server certificate response would fit in a single packet, hence I was considering it as an option technically. It is definitely not preferable.

> In our case we prefer x509 over PSK because we have no control over the clients. So in case a PSK replacement would be needed that is very unpractical.

But without a client certificate you will not be able to control, which clients are connecting to you. 
Or, let me guess: after the oneway x509 handshake, then a application level convention with username and password is used?

Correct, we have authentication at application level. And this way we don't bother users with the hassle of generating certificates :-)

I think this issue can be closed. Remaining points of action are:

1) determine what is going wrong with gnutls
2) determine why these MTU values are used on libcoap side

Neither are related to Californium. I would like to thank you both very much for your time and fast responses. You've been very helpful and I wish you a good weekend.

If you wish I can reply to this thread when I find out more about these 2 follow up issues.

> Neither are related to Californium. I would like to thank you both very much for your time and fast responses. You've been very helpful and I wish you a good weekend.

You are welcome and a nice weekend as well!


> If you wish I can reply to this thread when I find out more about these 2 follow up issues.

Yes, please do it :pray: 

@PHameete by the way, if you want to reduce the size of you certChain you should maybe consider to try ECC based Certificate which should be much smaller. (see https://www.tbs-certificates.co.uk/FAQ/en/explications_ECC.html)  

I think this will coming for let's encrypt soon : https://letsencrypt.org/upcoming-features/

Awesome! We'll keep an eye on that it will surely help to reduce the size and save some compute time :-)

I'm going to reopen this with my current understanding of the openssl case.

RFC 7252 says that a CoAP packet SHOULD fit within a single IP packet and that fragmenting a DTLS packet using IP Fragmentation is undesirable and should be avoided. 

In fact CoAP is not even relevant here, because we are performing a DTLS handshake. DTLS 1.2 spec RFC6347 states in https://tools.ietf.org/html/rfc6347#section-3.2.3 that "UDP datagrams are often limited to <1500 bytes if IP fragmentation is not desired.  In order to compensate for this limitation, each DTLS handshake message may be fragmented over several DTLS records, each of which is intended to fit in a single IP datagram."

So this leads to the question: if a DTLS message exceeds the MTU, do we fragment it using IP protocol fragmentation, or by using DTLS protocol fragmentation. In my opinion it would be better to use DTLS protocol fragmentation to achieve the highest compatibiltiy (in this case openssl does not accept IP fragmentation). 

I am however curious why Californium resorts to IP protocol fragmentation in the initial case (see the original pcap for libcoap with openssl). After I set MTU to 1152 Californium resorts to DTLS fragmentation, see this pcap: [libcoap openssl working pcap](https://github.com/eclipse/californium/files/4395384/libcoap-oneway-x509-openssl-working.zip).



 

Scandium tries to determine the [local link MTU](https://github.com/eclipse/californium/blob/master/scandium-core/src/main/java/org/eclipse/californium/scandium/DTLSConnector.java#L695). If the "any" address is used (`builder.setAddress(new InetSocketAddress(coapServerProps.getPort()));`), [minimal MTU](https://github.com/eclipse/californium/blob/master/element-connector/src/main/java/org/eclipse/californium/elements/util/NetworkInterfacesUtil.java#L61) is used.

For a "path MTU" detection, java simply doesn't offer the required API.

I'm not sure, if in your case, the path MTU would help, because it seems to be more a limitation of the receive buffer.

Now that explains :-) because for an EC2 instance the MTU is determined to be 9001 for Jumbo frames. And as Java can't determine the path MTU it will not split this large DTLS message using DTLS fragmentation because it will easily fit the 9001 byte IP packet.

Now RFC 7252 says "If the Path MTU is not known for a destination, an IP MTU of 1280 bytes SHOULD be assumed; if nothing is known about the size of the headers, good upper bounds are 1152 bytes for the message size and 1024 bytes for the payload size."

In the case of Java we can never know the Path MTU so I should set an MTU of 1280. Perhaps it is worth considering using this as a maximum MTU value for Californium by default, with an option to override to a larger MTU. And of course if an interface has a smaller MTU: use that.


MTU:
In my experience, UDP fragmentation works better than PMTU discover :-).
Sending messages larger as the PMTU works frequently (e.g also with CAT-NB), except someone limits the message size by too small receive buffers. PMTU discover will hardly find such a application receive buffer limitation.

[PMTU discover](https://blog.cloudflare.com/path-mtu-discovery-in-practice/)

RFC 7252:
"If the Path MTU is not known" 

```
tracepath <destination>
... (after some seconds) ...
    Resume: pmtu 1492 hops 11 back 8
```

now I know it, it's 1492. Now sending messages using that known PMTU seems to be compliant according RFC 7252, or? But still a too small receive buffer will fail again.
So for RFC 7252, it's simply dangerous to assume, that the other side doesn't know the PMTU and therefore estimate the max message size to 1152 without "exceed warning". Using one byte more receive buffer would make it easy to detect, that the expectations are violated. For plain coap you may have chance to use the block-options, but anyway, I would guess, you're much better off, if 1152 isn't assumed as maximum for receiving!      

For RFC6347 exceeding the receive buffer will be even easier to detect. The dtls record has a field "record length", and if the received message is too small for that, it's also possible to warn about that. There are also two extensions to help to overcome a receive buffer limitation:

[RFC 6066, Maximum Fragment Length Negotiation](https://tools.ietf.org/html/rfc6066#section-4) already supported by scandium and openssl (see [max_send_frag](https://www.openssl.org/docs/man1.1.1/man3/SSL_CTX_set_max_send_fragment.html) )

[Record Size Limit](https://tools.ietf.org/html/rfc8449) (maybe supported by scandium in the future)

This document also explains the difference between record limits (e.g. caused by buffer limits) and network limits as PMTU.

So my sum-up:
The definition in RFC 7252 for "Path MTU is not known" doesn't legitimate too small dtls receive buffers without means to warn nor negotiate that.


It's getting more and more mystic to me

[libcoap, COAP_RXBUFFER_SIZE 1472](https://github.com/obgm/libcoap/blob/develop/include/coap2/coap_io.h#L18)

So, where did you read the 1152 (except RFC 7252)? 

I got the 1152 from this comment: https://github.com/obgm/libcoap/issues/477#issuecomment-604967474. I agree that does not make sense as a choice for the MTU. 

Please allow me to summarize my current understanding:

* CoAP and DTLS discourage IP fragmentation. So ideally each DTLS packet fits in an IP packet.
* IF a DTLS client/server does have a message larger than the MTU it should split it up using DTLS fragmentation, so again each DTLS fragment message fits in an IP packet, rather than IP fragmentation.
* Californium can not determine the path mtu ad-hoc because Java does not support it. 
* It has many different clients with different routes so predetermining the pmtu is also impossible. 
* The CoAP spec suggests choosing an MTU of 1280 when no path mtu can be established.

And my open questions:

* Is a default RXBUFFER of 1472 sensible?
   * Given the max MTU of 1500 for Ethernet
   * Given that libcoap must run on resource constrained devices
   * Given that this means any MTU larger than 1500 is not supported as it would cause IP fragmentation and payloads of possibly more than 1472 bytes.
* What is a sensible default choice for MTU
   * Given that we want to prevent IP fragmentation
   * Given that we can't know path mtu

My original issue can be solved by following the spec and choosing an MTU of 1280. Choosing an MTU of 1500 will probably also work in most cases unless somewhere along the route there is a network device with a smaller MTU - but then again that risk also exists with MTU 1280 :-)

In my opinion Californium should not automatically choose an MTU larger than 1500 because of the high risk of IP Fragmentation.

Interesting discussion in that issue [libcoap 477](https://github.com/obgm/libcoap/issues/477)

Again, my experience:

- IP Fragmentation is not the issue here! The discussion around that are hides the real cause.
- the receive buffer size is the issue. That's the show stopper, and the missing warning makes it hard to understand, what happens. For dtls that's addressed by hello extensions, even, if I'm not sure, if they are implemented in the c-libraries. For scandium, one is implemented, the other may follow in the future.

Using 1280 as MTU will in this case "magically" sort it out. But again, it's not about PMTU, it's about buffer limits and not using the means for that. We had also some clients with a receive buffer of 256 or 512 bytes. These will also not work with 1280.

> Given that we want to prevent IP fragmentation

FMPOV, that is left to the application and proper configuration.

Anyway, you're right, the question will be, what is a good default MTU, if it should help to work in the "most use-case" (even accepting IP fragmentation) and maybe adapted by configuration for improvement.
I recognized also, that the implementation around MTU and "max handshake fragment length" are somehow mixed up. IPv4 header are assumed, even if IPv6 is supported. MTU and UDP payload length seems to be also somehow mixed up. So I guess, that requires more then just a simple a new default value :-).  



@boaks thanks for the clear explanation and summary. I think you are right that 1280 would 'coincidentally' fix this issue and still break in other cases where devices have smaller buffer. I also agree that the only proper way to solve is if they indicate a smaller buffer via using the "hello extensions" you mentioned.

> I recognized also, that the implementation around MTU and "max handshake fragment length" are somehow mixed up. 

Where is this mixed up, in Californium? If you want I can help out checking this code and thinking along about a good approach for selecting an MTUI that works in the most common use cases.


[Assuming IPv4](https://github.com/eclipse/californium/blob/master/scandium-core/src/main/java/org/eclipse/californium/scandium/dtls/DTLSSession.java#L85)

I think this must be replaced by a IPv4/IPv6 aware implementation (assuming 128 bytes header for IPv6 according RFC 7252 assumptions.)

[mixing up MTU and UDP payload size](https://github.com/eclipse/californium/blob/master/scandium-core/src/main/java/org/eclipse/californium/scandium/dtls/DTLSSession.java#L832)

I think, the `HEADER`including the IP headers and DTLS record and DTLS handshake  message framing, is wrong. At least the IP headers should not be included, the others are not that obvious and requires some investigation.    

[determineMaxFragmentLength](https://github.com/eclipse/californium/blob/master/scandium-core/src/main/java/org/eclipse/californium/scandium/dtls/DTLSSession.java#L858)

Smells also for wrong header stuff and requires some investigation.

The actual used MTU maybe defined as:
1. the configured MTU, if available.
2. new configuration "MTU limit", default 1500. 
MTU := minimum(MTU limit, link local MTU).

 

The main work, as usual, will be the testing!
I guess, it will payoff, if we add also a "interoperability test" for libcoap/dtls clients.

But for now:
1. working on the current PRs.
2. start to introduce a "async" PSK store interface.
3. don't know, upcoming issues.

PR #1363 and PR #1364 address the additional issue of the MTU and resulting record size.
If possible, it would be great, if you could check, if the PRs will work for you.

Thanks for your effort @boaks i'll try it out when I have some and let you know if this works for us.

Hi @boaks works well for me :-) Let's close this!

@PHameete 

If you still working on/with x509 and DTLS:

There is currently an ongoing discussion in the project leshan about details of certificate path validation (https://github.com/eclipse/leshan/pull/923). 

At least, I will adapt Californium to support multiple trust certificates with the same DN.
If you have any requirements/experience about that, let us know :-).



Hi @boaks that discussion looks too in-depth for me to contribute to without diving into the matter first :-)

We only use server side certificates issued via lets encrypt. Lets encrypt uses the following structure for the chain of trust: https://letsencrypt.org/certificates/
I believe that Californium has to send the intermediate and requester certificate for this to work in our case. The lets encrypt root will be present in most trust stores.

For replacing we use k8s cert-manager https://cert-manager.io/ and a service that checks when the certificate is replaced. When the certificate is replaced we will restart the Californium server with the new certificate. So in our case there is no situation where we have a duplicate certificate for the server.

Client side certificates will be relevant some time in the future but not yet. 


Thanks for your feedback.

My idea was to collect the current requirements/extensions for the truststore handling. 
Maybe there is more required than support multiple-trust certificates for the same DN.
If the current handling works for you, that's good to know.

(By the way, it's only about the trust store, **not** about having multiple "node-certificates" and select the one out of them to be send during the handshake.)


Yes I read briefly through the conversation. If i understand correctly it is about storing intermediate/root CAs in the trust-store so they would not need to be transmitted to save bandwidth and power on low-energy devices? And then to allow graceful replacing of certs it would be needed to have multiple certs per DN in the trust store?

I can't say much about that topic because COAP/LWM2M is very new for us and not actively used. We will start thinking about how to implement client-side certificates (taking into account low bandwidth and power) at a later point in the future when it is more relevant for us.

What I do know is that our list of 'potential client devices' would be dynamic, I.e. devices and their certificates may be added/removed while the Californium server is running. So I envision we could use some type of in-memory certificate trust store that is filled on startup and can easily be modified.

> If i understand correctly it is about storing intermediate/root CAs in the trust-store so they would not need to be transmitted to save bandwidth and power on low-energy devices?

In my opinion, that is only relevant for the client (and so, not for your setup). At that side it works using a "trusted issuer" list received from the server. On the server, without additional hello-extensions, I assume, that only removing the root is "RFC5246 compliant". But, it may be realistic, that "RFC5246 compliant" is unrealistic ;-). I don't know. Currently I just prefer to provide a "RFC5246 compliant" implementation, and left more "relaxed" one to the custom implementations. We will see, which experience the future will bring. 
By the way, that affects also the client implementation. Before using truncated server-chains, I would recommend to check them as well.

> And then to allow graceful replacing of certs it would be needed to have multiple certs per DN in the trust store?

See PR #1442 . If multiple certificates are used for the same CA (DN), that requires support in the client libraries as well. At least for my first experiment, I failed to succeed and handshake with libcoap/openssl. Maybe my setup in [LibCoapClientInteroperabilityTest](https://github.com/eclipse/californium/blob/master/californium-tests/californium-interoperability-tests/src/test/java/org/eclipse/californium/interoperability/test/LibCoapClientInteroperabilityTest.java#L152) is wrong. We will see ...

> So I envision we could use some type of in-memory certificate trust store that is filled on startup and can easily be modified.

For the truststore, that's available by the interface `NewAdvancedCertificateVerifier` (or the deprecated `AdvancedCertificateVerifier`).    



