Discussion about X509 certificate path validation : truncate or not truncate

## The initial Question : Why we need to truncate ?
Trying to understand #1442, I was confused by the truncated part of `CertPathUtil`.  
(`CertPathUtilTest` helps me a lot to better understand :+1:)
I was really confused by the need to do truncate before to ask to Java to do PKIX validation.

Here is what I found searching to understand. There are many RFCs where certificate path and trust anchor was handled but with different rules.

## Java PKIX Engine / RFC 3280
Java implements [the PKIX certification path validation algorithm](https://docs.oracle.com/javase/8/docs/technotes/guides/security/certpath/CertPathProgGuide.html#PKIXClasses) defined in [rfc3280](https://tools.ietf.org/html/rfc3280#section-6). (see §6 & 6.1)

In this RFC, the trust anchor : 
> The selection of a trust anchor is a matter of policy: it could be
   the top CA in a hierarchical PKI; the CA that issued the verifier's
   own certificate(s); or any other CA in a network PKI.  The path
   validation procedure is the same regardless of the choice of trust
   anchor.

And the cert path : 
>  Valid  paths begin with certificates issued by a trust anchor.

Certpath and trust anchor are just inputs with particular constraint for this particular algorithm.

## X.509 certificate path in TLS / RFC 5246

This RFC defines how certificates list (also called certpath) is transported following this rules : 
 [certificate_list](https://tools.ietf.org/html/rfc5246#page-47) :
>    This is a sequence (chain) of certificates.  The sender's
      certificate MUST come first in the list.  Each following
      certificate MUST directly certify the one preceding it.  Because
      certificate validation requires that root keys be distributed
      independently, the self-signed certificate that specifies the root
      certificate authority MAY be omitted from the chain, under the
      assumption that the remote end must already possess it in order to
      validate it in any case.

## Different Certificate Usage / RFC 6698

This RFC [defines different usages](https://tools.ietf.org/html/rfc6698#section-2.1.1) specifying how to match the certificates presented in the TLS handshake.  

(Note that this RFC refers to "PKIX certification path validation" but never names RFC3280, does it exist other "PKIX certification path validation" ?)

## Less Confusion
Now I better understand (or at least I'm less irritated) that output from one RFC use not exactly the same format as input to another one.(e.g. certpath from RFC 5246 and certpath from RFC3280)
All of this RFC does not talk exactly of the same thing.

## New Question ?
Knowing that this is pretty "normal" to adapt the certpath received in TLS message before to give it to the PKIX algorithm. 
The question turns from _"why we should truncate ?"_ to _"Is there really case where we don't want to truncate ?"_ or rather _"Is there really case where we don't want to prepare input to respect the PKIX algorithm input constraint"_  ?

:-)

Therefore `CertPathUtil` offers a parameter to control the behavior.

Just to say, you don't need to truncate, as long as you have always the "root" in the trusted certificates.
Only, if you have just a intermediate CA and not the "root", then without truncation, the path validation may fail.
If you don't want to use truncation, the don't accept CA's in the truststore, where the corresponding root is missing. Otherwise you risk, that when the server sends the DN of such a CA as "trusted" to the client (but the root for that CA is not available), the client may send its full path back. That now ends at a root, you don't have.


> Just to say, you don't need to truncate, as long as you have always the "root" in the trusted certificates.
> Only, if you have just a intermediate CA and not the "root", then without truncation, the path validation may fail.

Yes but you also don't need to truncate as long as the trustedcertificate (even not root) is not in the certpath.
E.g. : with Cert -> CA -> ROOT if you have CA in truststore and just send Cert truncated is not necessary.

I feel those rules does make sense at all.
Either you want to restrict that trustcertificate MUST be root
Either you accept root and intermediate CA as trustAnchor (which is allowed by PKIX RFC3280).

So my current understanding make me feel that  "not truncated mode" does not make sense at all.



> "not truncated mode" does not make sense at all.

Hope I mix not up the not-level.

Though the java PKIX validator does not allow to truncate the presented path, I assume that this is also a well-designed behavior. Therefore that parameter is offered and dtls-configuration is supporting to configure it.
I'm not sure, if removing the parameter, will have benefits.

> Though the java PKIX validator does not allow to truncate the presented path, I assume that this is also a well-designed behavior.

What I tried to explain above :point_up: is that java implements PKIX alogorithm from rfc 3280 and inputs format for this algorithm don't mean anything about how certpath should be send though TLS (re-read https://github.com/eclipse/californium/issues/1446#issue-742597774  for more detail). or at least this is my understanding.

> Therefore that parameter is offered and dtls-configuration is supporting to configure it.
> I'm not sure, if removing the parameter, will have benefits.

Benefits to make the code simple and easier to understand.
Of course if this is useful we need to keep it. But my current understanding is this mode does not makes sense.


> Benefits to make the code simple and easier to understand.

Generally, maybe.
In that special case, it removes in my opinion the simple case.
And, if wanted, it should be first deprecated in a 2.x to remove it then on 3.0.
 

>  And, if wanted, it should be first deprecated in a 2.x to remove it then on 3.0.

If changes was done, this will be for 3.0.

CertPathUtilExt in https://github.com/eclipse/leshan/pull/923#issuecomment-728987889 give an idea about what I have in mind currently.