Packet drop in CoAP server

I've implemented a basic CoAP server which receives CBOR encoded data and decodes it. Following is the code snippet for it.

I'm sending messages into the server at the rate of 1000 messages per second. When I send at rate of 100k messages. I'm only receiving 62221 messages at server. 
I tried to change the linux send and receive buffer size to see if that is making any difference but it didn't help.


* branch your faced the issue. Currently 
   * 1.1 is the master, 

* If your issue is related to your own snippet, please provide that


         public static void main(String[] args) throws Exception{
	
	            // create server
	            HelloWorldServer server = new HelloWorldServer();

	            server.addEndpoints();

				


	            server.add(new CoapResource("helloWorld")  {
	       		 @Override
	       	 	   public void handlePUT(CoapExchange exchange) {
	       			ByteArrayInputStream bais = new ByteArrayInputStream(exchange.getRequestPayload());
	       	 		List<DataItem> dataItems;
	       	 		try 
	       	 		{ 
	       	 			dataItems = new CborDecoder(bais).decode(); 
	       	 			for(DataItem dataItem : dataItems) 
	       	 			{
	       	 				String value = dataItem.toString();
		       	 		value = value.substring(1, value.length()-1);           //remove curly brackets
		       	 		String[] keyValuePairs = value.split(",");              //split the string to creat key-value pairs
		       	 		Map<String,String> map = new HashMap<>();               
	
		       	 		for(String pair : keyValuePairs)                        //iterate over the pairs
		       	 		{
		       	 		    String[] entry = pair.split(":");                   //split the pairs to get key and value 
		       	 		    map.put(entry[0].trim(), entry[1].trim());          //add them to the hashmap and trim whitespaces
		       	 		}
		       	 		count++;
		       	 		System.out.println(count);
	       	 			}
	       	 		}  
	       	 		catch (CborException e) 
	       	 		{
	       	 			System.out.println(e.getMessage()); 
	       	 		}
	       		 }
	   	    }); 
	            server.start();

	    

Is there any tunable parameter at CoAP server side to overcome the issue of packet drop? Or am I missing something?
  
  
  

@naveenkumarmarri 

> Is there any tunable parameter at CoAP server side to overcome the issue of packet drop? Or am I missing something?

You can try using coap Message Reliability i.e using CON (Confirmable) requests-responses.
while sending a request:

> Request request = new Request(Code.PUT);
    request.setType(Type.CON);

If you are using coap with udp connector packet loss is expected.
For a slighter performance benefits use branch 2.0.x  
If you have still problems please let us know. 

@vikram919 Thank you for the suggestions

     public static void main(String[] args) throws Exception{
	            HelloWorldServer server = new HelloWorldServer();
	            // add endpoints on all IP addresses
	            server.addEndpoints();

				
	            Request request = new Request(Code.PUT);
	       	 	request.setType(Type.CON);

	            server.add(new CoapResource("helloWorld")  {
	       		 @Override
	       	 	   public void handlePUT(CoapExchange exchange) {
	       			ByteArrayInputStream bais = new ByteArrayInputStream(exchange.getRequestPayload());
	       	 		List<DataItem> dataItems;
	       	 		try 
	       	 		{ 
	       	 			dataItems = new CborDecoder(bais).decode(); 
	       	 			for(DataItem dataItem : dataItems) 
	       	 			{
	       	 				String value = dataItem.toString();
		       	 		value = value.substring(1, value.length()-1);           //remove curly brackets
		       	 		String[] keyValuePairs = value.split(",");              //split the string to creat key-value pairs
		       	 		Map<String,String> map = new HashMap<>();               
		       	 		
		       	 		for(String pair : keyValuePairs)                        //iterate over the pairs
		       	 		{
		       	 		    String[] entry = pair.split(":");                   //split the pairs to get key and value 
		       	 		    map.put(entry[0].trim(), entry[1].trim());          //add them to the hashmap and trim whitespaces
		       	 		}
		       	 		//System.out.println(map.get("value"));
		       	 		//System.out.println(map);
		       	 		count++;
		       	 		System.out.println(count);
	       	 			}
	       	 		}  
	       	 		catch (CborException e) 
	       	 		{
	       	 			System.out.println(e.getMessage()); 
	       	 		}
	       	 	
	       		 }
	   	    }); 
	            server.start();

	    }    
I tried the above code by adding conformable requests-responses but still there is packet loss. I tried to switch to branch 2.0.x and repeated the exercise still no luck.


Sorry, neither CoAP (RFC7252) nor californium is intended for "streaming". 
I would recommend to use a protocol, which is intended for your streaming approach.


@boaks apologies my terminology might be misleading, I was performing message exchanges from sensors which are non confirmable. It isn't streaming exactly

So you send 1000 msgs/s from **one** sensor? Or how many sensors are used to generate 1000 msgs/s?


@boaks yes I'm sending 1000mgs/s from one sensor

Which implementation is used on the sensor side?

If the CBOR decoding is replaced by a AtomicInteger counter, does this change the number of possible messages? 

And are there any additional informations? californium logs? wireshark?

@boaks 
I've made changes to replace CBOR decoding with AtomicInteger counter but still I can see the packet drop

    	    public static void main(String[] args) throws Exception{
	                 // create server
	            HelloWorldServer server = new HelloWorldServer();
	            // add endpoints on all IP addresses
	            server.addEndpoints();
	            Request request = new Request(Code.PUT);
	       	 	request.setType(Type.CON);

	            server.add(new CoapResource("helloWorld")  {
	            	AtomicInteger atomicInteger = new AtomicInteger();
	       		 @Override
	       	 	   public void handlePUT(CoapExchange exchange) {
	       			ByteArrayInputStream bais = new ByteArrayInputStream(exchange.getRequestPayload());
	       			
	       			System.out.println(atomicInteger.getAndIncrement());
	       	 	
	       		 }
	   	    }); 
	            server.start();

	    }     
Regarding wireshark logs do you want logs from sensor side or the server side?

As I wrote, CoAP (RFC7252) is not intended for streaming. 
1000 msgs/s from one sensor is, in my opinion, just streaming.
The main issue with CoAP is described here, RFC7252, section 4.4:

> The same Message ID MUST NOT be reused (in communicating with the
> same endpoint) within the EXCHANGE_LIFETIME (Section 4.8.2).

https://tools.ietf.org/html/rfc7252#section-4.4

Though the default EXCHANGE_LIFETIME is 247s, and the MID has 16bit, your limited to 64K in 247s. 
Additionaly it seems, that you only use a NON PUT request and don't response to them (the call to `CoapExchange.response()` is misssing, intentionally or accidently), so I think, 
**CoAP is not what your are looking for!**

If you just want to have a "riscy fast success", edit the `Californium.properties` file of your server and change the value of `DEDUPLICATOR` to `NO_DEDUPLICATOR`:

> DEDUPLICATOR=NO_DEDUPLICATOR

Even with that, I'm pretty sure, that you will have packet drops and therefore just go for a protocol, which supports your requirements.

@boaks Thanks for the inputs it was very helpful.
Just for my understanding to summarize, I can send atmost 64K messages from a device in 247s. However at server side I can receive any number of messages from messages. Am I right?
or did I miss something?

> However at server side I can receive any number of messages from messages.

Do you mean "from an endpoint"?

https://tools.ietf.org/html/rfc7252#section-4.5

> A recipient might receive the same Non-confirmable message (as
> indicated by the Message ID and source endpoint) multiple times
> within NON_LIFETIME (Section 4.8.2).  As a general rule that MAY be
> relaxed based on the specific semantics of a message, the recipient
> SHOULD silently ignore any duplicated Non-confirmable message and
> SHOULD process any request or response in the message only once.
> 

So the server SHOULD ignore the additional messages in your "message stream"!
Therefore you're wrong and I guess you missed to read RFC7252 :-).

If `DEDUPLICATOR=NO_DEDUPLICATOR` works for you, and if you don't want to send responses, then you mainly don't use any feature of CoAP and you're sure better off, when you use plain UDP or an other protocol, which is intended for streaming.

So, if `DEDUPLICATOR=NO_DEDUPLICATOR` solved your issue (for now), please close this issue.