PSK is an independent identity

When DTLS is used with PSK, it should not be sending raw public keys as part of the key DTLS authentication.  The entire object of using PSK is that the PSK provides all of the identity information.  PSK is not designed to be shared by three entities so each party knows that the other side is involved unless they somehow make a DTLS session to themselves.

Looking at RFC 7925 section 4.2 for the set of messages that are used when doing pure PSK.  The use of Raw public keys is found in section 4.3 so you can see the difference in the messages being sent.

I may have gotten this wrong.  I will re-open after looking at it again w/ what is implemented