Source IP address for response returned by a COAP server created with wildcard IP address

In section 5.3.2 (Request/Response Matching Rules) of ~~RFC7259~~ RFC7252 it is mentioned:
"The source endpoint of the response MUST be the same as the destination endpoint of the original request."

However, from what I have experimented, the responses returned by a CoAP server created using anyLocalAddress do not always set the source IP address of the response with the destination IP address of the request.
(I'm using straight UDP connector without DTLS.)

In the code (org.eclipse.californium.elements.UDPConnector) I see that the same socket is used to send all response so it looks like we let the OS set the source IP address of the IP frames.

If your faced issues of such ambiguous source addresses caused by multi interface setups, you may setup several connectors with unique defined interface address. 

`CoapServer.addEndpoint(final Endpoint endpoint)`

I hope this solves your issues. 


I do not know of a way to explicitly set the source IP address and port of a `DatagramPacket` being sent via `DatagramSocket.send()` in Java, maybe you know of one? In any case, IMHO you shouldn't bind to *anyLocalAddress* in a production environment anyway but to an explicit network adapter instead.

@boaks Yes the creation of an endpoint per IP address should solve the problem. However, I was trying to avoid this solution because we have several network interfaces and for each interface several ip adresses (ipv4 + ipv6). The creation of an endpoint per address is a waste of resources (threads, memory, ...) because in my case because I just want to listen on every interfaces.

@sophokles73 I think the real problem is to get the destination IP address from the incoming requests received by the server. I'm surprised, but from what I see, it's looks like in Java this information is not available from the DatagramPacket received. I don't know if somebody know how to retrieve that information?

From my point of view, the current implementation is problematic because it cannot guarantee that a CoapServer having an endpoint created using anyLocal address will return valid CoAP responses (response that will be accepted by the CoapClient).

I still think, this is causes by an ambiguous network setup!

But anyway, 
for those, in which environment anyLocal works, they may use it.
for those, in which environment anyLocal is ambiguous, they should use multiple connectors.

Even if RFC7252 requires something, which the java API (as far as I know) doesn't offer, we can't program it using java.

@mbaril 
Without knowing, how this could be achieved in java, we can't solve this issue else then using different connectors. If you know a solution in java, don't hesitate to reopen this issue or create a new one. 

Apologies for reopening such an old issue, but I recently encountered the same issue when using Californium within Leshan on a system with multiple IPv6 addresses on the same interface. When using IPv6, multiple IP addresses with the same prefix can be allocated to the same interface, including temporary IPv6 addresses for privacy reasons. In this case, one IPv6 was registered on the local DNS server, which the client sent a request to. The Californium server then responded to the CoAP request using a different source IP, so the client could not correctly link the response to the request.

After tracing the problem I found the same lines in RFC7252, so problem seems to be the server. I was going to report this to Leshan, but then found this issue leading me to believe the problem is here. Would it be possible to re-open this issue @boaks ?

As for implementing this in Java, I believe it should be possible to send from a specific source address by opening a temporary ``DatagramSocket`` with the ``DatagramSocket(int port, InetAddress laddr)`` constructor to send the response. A UDP socket should be very lightweight to create so shouldn't be an issue. However I am not familiar with the internals of californium, and it has been many years since I have done any Java work.

Do you think this is something that could be solved in Californium, or would a modification to Leshan creating a new endpoint for each IP address be more appropriate?

![tempsnip](https://user-images.githubusercontent.com/5290125/99713924-d31ba080-2a9c-11eb-8439-3fc58d0c9261.png)


> Do you think this is something that could be solved in Californium, or would a modification to Leshan creating a new endpoint for each IP address be more appropriate?

This is simply what I do. And AFAIK, that's working. Maybe you select only the external ip-adresses to reduce the number.

About the proposed other approach, I'm not sure, how that is intended to work. One of the reasons for your situation is, that the incoming route differs from the outgoing (means: your OS/ip-stack decides, that it is better to sent the traffic using a other interface). AFAIK, it's not possible to see the local-address the message was received, so I'm not sure, where that `DatagramSocket` should be opened.

I'm not sure, if your case is describe complete and in my experience there is one common pitfall left:
- if your route passes "some NATs".
- and it's unclear if there is only incoming initiate traffic or also outgoing initiated traffic (initiated means, the first to sent a message after a quiet period).
The even using the approach with separate interfaces will fail. That's at least the experience of some other users.

So let's see, if that works for you,

> 
> 
> > Do you think this is something that could be solved in Californium, or would a modification to Leshan creating a new endpoint for each IP address be more appropriate?
> 
> This is simply what I do. And AFAIK, that's working. Maybe you select only the external ip-adresses to reduce the number.

Ok, Leshan already supports binding to specific IP addresses, and I agree that should work fine. For my use case, this should be ok, as it is normal for actual deployment for LWM2M. It is a little strange that the default configuration uses any local address, which breaks under the situation I explained above. I will consider reporting to that project.

> About the proposed other approach, I'm not sure, how that is intended to work. One of the reasons for your situation is, that the incoming route differs from the outgoing (means: your OS/ip-stack decides, that it is better to sent the traffic using a other interface).

I wouldn't say the route differs necessarily, or that the interface is different. In the case I observed, the request was received to the 'permanent' IPv6 address (based off hardware MAC), but the response was sent with the temporary src IP in accordance with https://tools.ietf.org/html/rfc6724#section-5 by the OS. The response interface and route was identical.

> AFAIK, it's not possible to see the local-address the message was received, so I'm not sure, where that `DatagramSocket` should be opened.

Ah, yes, that seems to be the bigger issue. Its frustrating that Java doesn't seem to have a lower level UDP API that could help enable this. It does seem to prevent the correct functioning of a CoAP server which listens on the 'any' address. Real clients need the response to originate from the destination of the request as defined by the spec. I feel if that if californium can't guarantee this behaviour when listening on 'any', it should make it very clear that things might not work correctly. (Again, i'm not familiar with Californium, just using it through Leshan so apologies if this is already explicit). 

> I'm not sure, if your case is describe complete and in my experience there is one common pitfall left:
> 
>     * if your route passes "some NATs".
> 
>     * and it's unclear if there is only incoming initiate traffic or also outgoing initiated traffic (initiated means, the first to sent a message after a quiet period).
>       The even using the approach with separate interfaces will fail. That's at least the experience of some other users.
> 
> 
> So let's see, if that works for you,

If the route passes 'some NATs' or stateful firewall, it seems even more important that the source IP of the response matches the request IP destination, otherwise the stateful firewall/NAT will block it. I think all of this is very much an IPv6-specific problem, as IPv4 interfaces are constrained to only a single IP address, and so route+address+interface are far more tightly bound.



> I feel if that if californium can't guarantee this behaviour when listening on 'any', it should make it very clear that things might not work correctly. (Again, i'm not familiar with Californium, just using it through Leshan so apologies if this is already explicit).

FMPOV, that's mainly related to the complexity of the network config.
The question for such hints/warnings is always, where to put them in order to get read.
For Californium's cf-plugtest-server individual endpoint s are used. Only the simpler demos are using the any (or the clients, but ). For the newer releases it's now possible to pass in "shared" thread pools to endpoints and connectors, that reduces the number of threads per endpoint. Maybe the 3.x comes with support for nio, which would also reduces the required resources.
Let me also add, that with containers/k8s it will get more complex to do the network right and not wrong. Especially the mix of incoming/outgoing will be hard, lets see, if [k8s beyond http](https://docs.google.com/document/d/13wFFC7vIdB2hkxdyT0dSiGgkZTXCDDBeW_GBPqy9Jy0/edit#heading=h.o102t8ia3z8) helps to overcome that. (Or strictly reducing the communication to "incoming" only and using different means for "wakeup"/"request registration update".)

> FMPOV, that's mainly related to the complexity of the network config.

I agree, but I believe the network complexity I described (single interface with IPv6, multiple addresses including permanent and temporary with potentially several different prefixes) is normal for IPv6, so shouldn't be thought of as some edge case.

> The question for such hints/warnings is always, where to put them in order to get read.

I agree with the sentiment, Always an issue! :) But as this github issue only applies to UDP endpoints that are receiving requests, and californium is a library intended to be used by other applications, maybe in the documentation for the UDPConnector constructor would make sense - or wherever that is used?

Good to hear that most places use individual endpoints though. When using leshan and specifically binding to my permanent global IP, I can confirm everything worked fine, as the src address of the return packet was correctly set.

I'm not familiar with how containers are networked - but assume IPv6 will begin to play an even bigger part as NAT doesn't need to be extensively used.

Anyway, for my use case, I have found a workaround. While I still believe there is an underlying issue, it can be resolved using the 'endpoint per IP address' method described above. It seems like there is no easy true fix available so I'll leave it up to you to decide what to do with this issue. Happy to provide more data or feedback if you think it would be useful!

> While I still believe there is an underlying issue

With your reference to RFC6724, Section 5, I also guess, that either java UDP has a more general issue with IPv6, or there is something, which is currently not known. If you can spend your time in investigation, that would be great. For myself there are too many other topics for now. 

Searching for "java RFC6724", I found:

[n Introduction to Computer NetworksRelease 1.0](https://core.ac.uk/download/pdf/48606861.pdf) 11.1.1.2   UDP and IP addresses.

There you read at the end of the section:

> Thus, it is possible that a legitimate UDP reply will come from a different IP address than that to which the initial request was sent. If this behavior is not desired, one approach is to create multiple server sockets, and to bind each of the host’s network IP addresses to a different server socket.

@CiaranWoodward 

If possible, please check, if the added javadoc in PR #1463 is as you expect.
Though the 2.6. release is planned for tomorrow, it would be really great, if you can provide your feedback before. Anyway, if that is too short, the javadoc may also be adapted again afterwards.   