minor RFC 7250 violation  

branch 2.0.x b7fd580aae8dffe57ab9cbd9d75d9058b79eccea

Section 4.2 of RFC 7250 dictates that the client_certificate_type in the server hello must be omitted if the server does not send a certificate request payload. This is currently not the case in Californium.

How to reproduce:

1.   Disable client authentication in ` SecureServer.java` of Cf-SecureServer by adding `config.setClientAuthenticationRequired(false);`
2. Run SecureServer and connect by running  SecureClient

wireshark dump (rename to .pcap): 
[dump.pcap.zip](https://github.com/eclipse/californium/files/1751305/dump.pcap.zip)


Thank!
If possible, could you check, if PR #561 will fix your issue?

Thank you for the quick response. PR #561 fixes the issue at hand :+1: .

Besides I just noticed, that the server sends the server_cert_type and client_cert_type ext. even if it has not received the extensions in the client hello msg. While this should be no problem too, it violates Hello Extensions, as defined in [TLS 1.2](https://tools.ietf.org/html/rfc5246#section-7.4.1.4). This section should fully apply to DTLS.

dump (rename to .pcap): 
[without_rpk_extensions.pcap.zip](https://github.com/eclipse/californium/files/1752428/without_rpk_extensions.pcap.zip)

 

:-).

So check it again ...

Do you try to check the interoperability of scandium to the J9 DTLS implementation?
We did this test some months ago and found some issues but didn't invest the time to check the specs.
(see issue #421).

If so, and you check that interoperability, it would be greate, if you can post your results.   

@neverhub 

Would it be possible, that you check the PR again? 
It's updated and should fix your second issue also.


I checked with the PR again and both issues are resolved :). Unfortunately i did not try to check with the Java9 DTLSConnector9. Therefore i have no results for that. Sorry.

Thanks! I just got aware, that your findings are matching our J9 troubles.

I already asked @vikram919 to retest the J9 interoperability and I hope he can spend the time to check that in the next weeks :-).

Cool, I checked it, the change solves the Java 9 DTLS incompatibility!