Key Usage 'digitalSignature' not mandatory for certificate validation according to RFC 5280

We try to implement DTLS and want to configure our client/server certificates the right way.

I saw the [following lines of code](https://github.com/eclipse/californium/blob/df349f76d447e62f5764ba86117f2974ed241af2/element-connector/src/main/java/org/eclipse/californium/elements/util/CertPathUtil.java#L154) in the `CertPathUtil` class of the mehtod `canBeUsedForAuthentication(X509Certificate cert, boolean client)`:

```
if ((cert.getKeyUsage() != null && !cert.getKeyUsage()[KEY_USAGE_SIGNATURE])) {
    LOGGER.debug("certificate: {}, not for signing!", cert.getSubjectDN());
    return false;
}
```

The code means: if key usage is given as a certificate attribute, then the `KEY_USAGE_SIGNATURE` (`digitalSignature` attribute in OpenSSL) attribute must be used.

Why that? We are validating certificate chains only, aren't we?

The [RFC 5280 standard](https://tools.ietf.org/html/rfc5280#section-4.2.1.12) says:

> If the subject public key is only to be used for verifying signatures on certificates and/or CRLs, then the digitalSignature and nonRepudiation bits SHOULD NOT be set.

Since we are dealing with signatures of certificates, this flag must not be present for validation.



short-term, fast work around:
you may use your own `CertificateVerifier` to adapt the verification according your requirements.

Mid-term/long-term:
In my experience, it's usually not that easy or clear.
A Certificate is AFAIK never used to signed (it's the associated private key) and always used to validate that signature.
Within a ECDSA-ECDHE (D)TLS Handshake, the server signs, the [RFC5246 - 
7.4.3.  Server Key Exchange Message](https://tools.ietf.org/html/rfc5246#page-52) with it's private key, and the client validates that with the pubic key of the certificate. The client uses it's private key to sign the [
7.4.8.  Certificate Verify](https://tools.ietf.org/html/rfc5246#page-62), and the server uses then the public key of the client's certificate.

[RFC7952 - 4.4.4.  Certificate Content](https://tools.ietf.org/html/rfc7925#page-31) defines:

> Extension: Key Usage:
> The KeyUsage field MAY have the following values in the context of this profile:
> digitalSignature or keyAgreement,
> keyCertSign for verifying signatures on public key certificates.

[RFC7252 - 9.1.3.3.  X.509 Certificates](9.1.3.3.  X.509 Certificates) defines:

> if included, the key usage extension indicates digitalSignature.

The implementation doesn't force to provide the key-usage extension, but when, then it checks for signature.
With all the info-snippets, I'm not sure, what exactly is right :-). 

Did you check, why your certificates didn't contain that key-usage?
Is it possible to adapt the certificates?
Do you think, it's worth to verify, what exactly is specified in the RFCs?  
Should I forward this topic to the IETF mailing list (tls, uta, core :-) )?
 

I'm ok with adding the `digitalSignature` attribute to the client certificates. 

The point is that we have customers who want to have access to our servers and we want  to help them creating their certificates. So I want to understand why we have to add specific attributes. 

I agree with you that the key usage extension is not clearly defined across different RFCs.
But your qoute from RFC 7252 convinces me. So we can close the issue.