CON Notifies with updated payload but same MID

Analysing `ObserveServerSideTest.testQuickChangeAndTimeout()` I got aware, that californium sends notifies with updated payload but the same MID.

<-----   CON [MID=462, T=0b], 2.05, observe(2), ETags(0003)
<-----   CON [MID=462, T=0b], 2.05, observe(3), ETags(0004)
<-----   CON [MID=462, T=0b], 2.05, observe(4), ETags(0005)
<-----   CON [MID=462, T=0b], 2.05, observe(5), ETags(0006)
<-----   CON [MID=462, T=0b], 2.05, observe(6), ETags(0007)

So my natural understanding would be, to change the MID, if the payload is changed.
Does someone know, why the MID is reused?

e-mail to core@ietf.org:
-------------------------------------------------------------------
Hello CORE,

I have some questions according the intended message flow for an observe (RFC7641) which uses CON notifies and the resource is changing while retransmitting the notify and waiting for the ACK. I got aware that (at least one) implementation just modifies the payload in that case leaving the MID an retransmission time from the already pending notify.

Sequence:
CoAP client                                                                                     CoAP server
---------- GET R, CON, MID 1, TOKEN ABCD, Observe 0               ------------>
<-------- 2.05, ACK, MID 1, TOKEN ABCD, Observe 10, "state 1"   -------------
...
<-------- 2.05, CON, MID 65, TOKEN ABCD, Observe 12, "state 2" ------------          (R changed from "state 1" to "state 2")
<-------- 2.05, CON, MID 65, TOKEN ABCD, Observe 12, "state 2" ------------          (retransmission, because ACK missing)
...
<-------- 2.05, CON, MID 65, TOKEN ABCD, Observe 14, "state 3" ------------          (R changed from "state 2" to "state 3")  
----------                                   ACK, MID 65                                     ------------>

So:
Is it intended to (re-)use a MID with a modified message? (I personally would say, this is a NO GO!).
Should the retransmission timing/counter from the first notify be continued?
Should this continuing also prevent the second change to be send delayed with the next retransmission? 
Or should the second change simply wait until the first timeout all retransmission?

There may be even different answers/intended usage, depending on the usage of the CON notify:
If it's used the test the liveliness of the observe or If it's used to ensure (in my opinion a pseudo) safe state transfer  
 
My personal favorite would be, just cancel the first CON notify and start a new one with the updated payload immediately (new MID, new retransmission setup with reset counter and timeout).

Mit freundlichen Grüßen / Best regards

Achim Kraus


e-mail answer from Carsten Bormann
-------------------------------------------------------------------------------------------
Hi Achim,

these questions are very good material for draft-ietf-lwig-coap, the authors of which I CC.

The main reference here is Section 4.5.2 of RFC 7641, especially the guidance under "supersede an outstanding transmission”.

> Is it intended to (re-)use a MID with a modified message? (I personally would say, this is a NO GO!).

If the client already acknowledged the notification, but that ack got lost, the notification with a changed payload might simply be ACKed by the client in the deduplication mechanism.  Also, we need a new MID to be sure that the changed payload actually is being ACKed.

RFC 7641 does not leave this open to speculation:

   4.  The new notification is transmitted with a new Message ID […]

> Should the retransmission timing/counter from the first notify be continued?

It MAY be, but there is no SHOULD.

> Should this continuing also prevent the second change to be send delayed with the next retransmission? 
> Or should the second change simply wait until the first timeout all retransmission?

If all retransmissions time out, the server does not know whether the client is still there.  Depending on how robust interest entries are maintained, the server may give up completely on this interest (i.e., cancel the observation, see 4.5), or it may retry a few times later (robustness features are not specified in RFC 7641).

> My personal favorite would be, just cancel the first CON notify and 
> start a new one with the updated payload immediately (new MID, new retransmission setup with reset counter and timeout).

The problem with this is that this circumvents congestion control:

Imagine a server that has a new value every 0.1 s.  If the old transmission is canceled each time there is a new value, the server now sends packets at 10 Hz without any congestion control.  Not good.  So the server has to slow down on lack of ACKs: Either by completing the old transfer (with stale data), or by using the “superseding” mechanism of Section 4.5.2.

Grüße, Carsten



Thanks to Carsten's answer, I read RFC7641 more carefully.

Section  4.5.2. Advanced Transmission, describes detailed, how it is intended.

> 4. The new notification is transmitted with a new Message ID and the
> following transmission parameters: if the previous
> (re)transmission attempt timed out, retain its transmission
> parameters, increment the retransmission counter, and double the
> timeout; otherwise, initialize the transmission parameters as
> usual (see Section 4.2 of RFC 7252 [RFC7252]).
> 

So, what does this mean now for the test case at hand? Does it make wrong assumptions or even disregards the spec?

the test case didn't check the MID. But the log is showing, that the implementation in the ObserveLayer reusing the MID doesn't comply with the spec. I'm currently on exactly correcting that issue. 

With #279

> CON [MID=7001, T=0b], GET, /obs, observe(0)    ----->
> <-----   ACK [MID=7001, T=0b], 2.05, observe(0), ETags(0001)
> Observe relation established
> <-----   NON [MID=5733, T=0b], 2.05, observe(1), ETags(0002)
> <-----   CON [MID=5734, T=0b], 2.05, observe(2), ETags(0003)
> <-----   CON [MID=5735, T=0b], 2.05, observe(3), ETags(0004)
> <-----   CON [MID=5736, T=0b], 2.05, observe(4), ETags(0005)
> <-----   CON [MID=5737, T=0b], 2.05, observe(5), ETags(0006)
> <-----   CON [MID=5738, T=0b], 2.05, observe(6), ETags(0007)

I the PR is agreed, I would extend this test to check the mids.

Fixed with PR #279