OCSP 

Hi! Is there any implementation with OCSP? I would like to verify the sever's certificate using it. Does anybody implemented it or could tell me how to change client's code to make it implement OCSP? Thanks in advance

 > Is there any implementation with OCSP? I would like to verify the sever's certificate using it. Does anybody implemented it or could tell me how to change client's code to make it implement OCSP? 

Not that I know.

[RFC7252, 9.1.3.3.  X.509 Certificates](https://datatracker.ietf.org/doc/html/rfc7252#section-9.1.3.3)

> CoRE support for certificate status checking requires further study.
>    As a mapping of the Online Certificate Status Protocol (OCSP)
>    [RFC6960] onto CoAP is not currently defined and OCSP may also not be
>    easily applicable in all environments, an alternative approach may be
>    using the TLS Certificate Status Request extension (Section 8 of
>    [RFC6066]; also known as "OCSP stapling") or preferably the Multiple
>    Certificate Status Extension ([RFC6961]), if available.

I'm not sure, if that changed, but for Californium it's not implemented.

(I personally prefer HSM and RPK, hoping that results in enough security. But that is also not available for now.)  

[RFC2560 - OCSP](https://datatracker.ietf.org/doc/html/rfc2560)

[Appendix-A.1 OCSP over HTTP](https://datatracker.ietf.org/doc/html/rfc2560#appendix-A.1)
 
Basically, you either required to companion the DTLS handshake by a HTTP request, or, map that function to CoAP and operate the OCSP on your own, assuming no-one else will do it.
    
[RFC6066 - OCSP stapling ](https://datatracker.ietf.org/doc/html/rfc6066#section-8)

That would require to implement that extension on both sides, including the forwarded request/response on the servers side.


@p4pifor 

My impression is, that there is not that interest in providing an implementation in the community.
Could this be closed? Or should it be kept open?