CoapClient.ping() is throwing a NullPointerException

I'm trying to use the following Snipped to ping a Coap Device which is started on my Machine:
```java
String url = "coap://localhost:5683/";
CoapClient client = new CoapClient(url);
Log.debug(String.valueOf(client.ping()));
```
The Log always gives false no matter whether there is a device at the given address or not and the following Exception is thrown:
```
SEVERE: Exception in protocol stage thread: null
java.lang.NullPointerException
	at org.eclipse.californium.core.network.serialization.DataSerializer.serializeRequest(DataSerializer.java:49)
	at org.eclipse.californium.core.network.CoapEndpoint$OutboxImpl.sendRequest(CoapEndpoint.java:606)
	at org.eclipse.californium.core.network.stack.CoapUdpStack$StackBottomAdapter.sendRequest(CoapUdpStack.java:222)
	at org.eclipse.californium.core.network.stack.AbstractLayer.sendRequest(AbstractLayer.java:65)
	at org.eclipse.californium.core.network.stack.ReliabilityLayer.sendRequest(ReliabilityLayer.java:114)
	at org.eclipse.californium.core.network.stack.AbstractLayer.sendRequest(AbstractLayer.java:65)
	at org.eclipse.californium.core.network.stack.BlockwiseLayer.sendRequest(BlockwiseLayer.java:155)
	at org.eclipse.californium.core.network.stack.AbstractLayer.sendRequest(AbstractLayer.java:65)
	at org.eclipse.californium.core.network.stack.ObserveLayer.sendRequest(ObserveLayer.java:51)
	at org.eclipse.californium.core.network.stack.AbstractLayer.sendRequest(AbstractLayer.java:65)
	at org.eclipse.californium.core.network.stack.ExchangeCleanupLayer.sendRequest(ExchangeCleanupLayer.java:14)
	at org.eclipse.californium.core.network.stack.AbstractLayer.sendRequest(AbstractLayer.java:65)
	at org.eclipse.californium.core.network.stack.CoapUdpStack$StackTopAdapter.sendRequest(CoapUdpStack.java:181)
	at org.eclipse.californium.core.network.stack.CoapUdpStack$StackTopAdapter.sendRequest(CoapUdpStack.java:175)
	at org.eclipse.californium.core.network.stack.CoapUdpStack.sendRequest(CoapUdpStack.java:121)
	at org.eclipse.californium.core.network.CoapEndpoint$3.run(CoapEndpoint.java:499)
	at org.eclipse.californium.core.network.CoapEndpoint$5.run(CoapEndpoint.java:858)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$201(ScheduledThreadPoolExecutor.java:180)
	at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:293)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)
```

This is because ```CoapClient.ping()``` uses ```null``` for its ```RequestCode```
[CoapClient.java#L279](https://github.com/eclipse/californium/blob/master/californium-core/src/main/java/org/eclipse/californium/core/CoapClient.java#L279)
```java
Request request = new Request(null, Type.CON);
```
The [DataSerializer.java#L95](https://github.com/eclipse/californium/blob/master/californium-core/src/main/java/org/eclipse/californium/core/network/serialization/DataSerializer.java#L95) trys to get that Code and calls ```.value``` on it which leads to the Exception.
```java
MessageHeader header = new MessageHeader(CoAP.VERSION, request.getType(), request.getToken(), request.getCode().value, request.getMID(), body.length);
```

The Ping logic itself it working which can be confirmed by adding an additional Enum Value to the Code Enum in [CoAP.java#L187](https://github.com/eclipse/californium/blob/master/californium-core/src/main/java/org/eclipse/californium/core/coap/CoAP.java#L187).
```java
public enum Code {
    EMPTY(0),
    ...
}
```
Using this new Code results in a false Response if there is no device and a true Response if there is a Device
```java
Request request = new Request(Code.EMPTY, Type.CON);
```

#116 

@mettke,

thanks for reporting and proposing a solution :-) Do you want to create a PR or do you want to get in touch with @navoda and discuss how #116 should be altered?

@sophokles73 
The Problem with my suggestion is that unfurtunatly it is not that easy. I may be missing something but using the new enum Code.EMPTY may work for synchrone but does not for asynchron Communication.

For Example using ```CoapPing.advance()``` with a Request using the Empty Code and a CoapHandler leads to no message at all 'cause Empty Messages are getting filtered inside of Californium.
[CoapClient.java#L663](https://github.com/eclipse/californium/blob/master/californium-core/src/main/java/org/eclipse/californium/core/CoapClient.java#L663)

I guess I have to look deeper to confirm thath it really is so and see were the actual problem lies. Furthermore a statement from the californium developers might me helpful if that's the correct way to go, or if there was a reason for only adding those four Codes to the Code Enum.

Well, I guess the reason was that 0.00 is not a request code but the code for an empty message.
[RFC 7252, Section 4.3](https://tools.ietf.org/html/rfc7252#section-4.3) explicitly mentions using an empty message to provoke an RST for implementing a *CoAP Ping*. That said, the `CoapClient` seems to be a little *off-spec* here in misusing a `Request` object for that purpose. Hence, the decision to use `null` as the code here, I guess.
`CoapClient` was intended to be used a the *average user's tool* to interact with a CoAP server. As such, it was mostly about sending requests and receiving responses. The `advanced()` API has been added later in order to support more elaborate uses cases where the user wants to have more control about how the requests should look like and how responses are handled.
IMHO the way to do an *async* ping would be to create a `Request` with the newly added `EMPTY` code and add a `MessageObserver` to the request which implements the `onReject()` method accordingly. Then use `CoapClient.advanced(Request)` to send it out. My understanding is that the `onReject()` callback should be invoked by the Californium stack once the RST has been received ...
It would be cool if you could validate this thesis so that we can then think about how we would provide better (i.e. more explicit) support for this in the `CoapClient`.

I had a look at it and it seems to work the way you said. The following Code allows to send an Empty Request and returns the the onRejected correctly.
```java
String url = "coap://localhost:5683/";
Request request = new Request(Code.EMPTY, Type.CON);
request.setToken(new byte[0]);
request.setURI(url);
request.addMessageObserver(new MessageObserver() {
	@Override
	public void onTimeout() {
		LOGGER.log(Level.WARNING, "Timeout");
	}
	@Override
	public void onRetransmission() {
		LOGGER.log(Level.WARNING, "Retrans");
	}
	@Override
	public void onResponse(Response response) {
		LOGGER.log(Level.WARNING, "Response");
	}
	@Override
	public void onReject() {
		LOGGER.log(Level.WARNING, "Reject");
	}
	@Override
	public void onCancel() {
		LOGGER.log(Level.WARNING, "Cancel");				
	}
	@Override
	public void onAcknowledgement() {
		LOGGER.log(Level.WARNING, "Ack");				
	}
});
CoapClient client = new CoapClient();
client.advanced(request);

try {
	Thread.sleep(10000);
} catch (InterruptedException e) {
}
System.exit(0);
```

Now I have another suggestion for the [MessageObserver.java](https://github.com/eclipse/californium/blob/master/californium-core/src/main/java/org/eclipse/californium/core/coap/MessageObserver.java):
According to [RFC7252#section-7.1](https://tools.ietf.org/html/rfc7252#section-7.1) a Device is Discovered by sending a Message to the Multicast Address. In case of the CoapPing it would relate to sending a Request with Code.EMPTY to the multicast Address using the MessageObserve to get the Reject Messages. Unfortunately I cannot distinguish between the Reject Messages 'cause there is no Information from where the Message was send.

My Suggestion is to add  for example either the Message itself or only some information about where it comes from to the callback:
```java
public interface MessageObserver {
	...
	public void onReject(Message message);
	...
}
```
```java
public abstract class Message {
	...
	public void setRejected(boolean rejected) {
		this.rejected = rejected;
		if (rejected)
			for (MessageObserver handler:getMessageObservers())
				handler.onReject(this);
	}
	...
}
```

Now the Responses can be distinguish by the sender IP and Devices cought be discovered. Unfortunately I can't test this setup 'cause I don't have any devices and [coap://coap.me:5683](coap://coap.me:5683) doesn't anser to Multicast requests. 
Would that be something interesting for Californium?

I am trying to ping the virtual machine's rpl border router to the main machine but 
I could not do.  Can you suggest a suggestion on how to do it? 

@canismail
Unfortunately I need more Information before I can help you.
Please tell me the URI you are using: coap://<fqdn>[:<port>/<path>]
And the piece of code you are using.

String url="coap://[aaaa::212:7401:1:101]:60001";
 URI uri= null;
        try {
			uri = new URI(url);
		} catch (URISyntaxException e) {
			
			e.printStackTrace();
		}



       CoapClient clientPing = new CoapClient(uri);

       try {
    	   clientPing.ping(2000);
    	   System.out.println("Ping islemi");
		} catch (Exception e) {
			
			System.out.println("Client hatası");
		}
       
       
        if (true) {
                       
            System.out.println("===============\n==============");
            if (!clientPing.ping(2000)) {
              System.out.println(uri + "  does not respond to ping, exiting...");
              
              System.exit(-1);
            } else {
              System.out.println(uri + " reponds to ping");
              
            }
        }

The contiki os rpl router is running and I connect to the port with tunslip6. But the result is

 coap://[aaaa::212:7401:1:101]:60001   does not respond to ping, exiting...

