Finished message with/without connection ID in Scandium 2.0.0-M16/M15

Hello,

We send the FINISH message as a HANDSHAKE record instead of a TLS_CID record and scandium 2.0.0-M16 rejects that (Discarding record received from peer, CID required!), so we'll fix this since it's required by the RFC draft (https://tools.ietf.org/html/draft-ietf-tls-dtls-connection-id-06, note at the end of §6).

However, how does 2.0.0-M15 behaves regaring this behavior ? Does it accept a finished message without CID or does it reject it ?

If we send a finished message with CID to 2.0.0-M15, will it accept it or reject it ?

Thank you for your clarification

Philippe

Please, consider to use 2.0.0-M17, and hopefully, from tomorrow on 2.0.0-M18!

During the discussion about the DTLS 1.2 Connection ID, several approaches have been analysed. Earlier version of that RFC and implementation may have been more relaxed about that.
But in the meantime, that gets defined:

Page 4, bottom:

> For sending, if a zero-length CID has been negotiated then the RFC
> 6347-defined record format and content type MUST be used (see
> Section 4.1 of [RFC6347]) else the new record layer format with the
> tls12_cid content type defined in Figure 3 MUST be used.  
> 

With that **MUST**, Scandium checks for that and drop such records. Previous versions may have accepted it.
Do you need to have that relaxed? 
If you have serious reasons for that, other then interoperability with early implementations, maybe you open an issue with that in [DTLS 1.2 Connection ID](https://github.com/tlswg/dtls-conn-id).
If your mainly interested in interoperability wizh earlier implementations, we may add a configuration switch. If so, is this needed only for accepting such FINISH, or also for sending/using such FINISH messages? Please be aware, the IANA number for the extension has also changed, so interoperability with previous versions will be affected by this as well.


I'm not sure, how important it is for you to know exactly the behaviour of the "old" 2.0.0-M15.
Currently I prepare for 2.0.0-M18, and next week I'm out of the office.
So, if you really need an answer for that, I have to postpone that for after next week. 

Hello @boaks ,

thank you very much for your quick answer.

Based on your answers in https://github.com/eclipse/californium/issues/1094 and your answers above, we should go for 2.0.0-M17.

We'll apply the connection ID on the finished message (as the RFC requests). We don't need any changes on Scandium. From your answer what I understand it's that with version 2.0.0-M16 and above it will work. With 2.0.0-M15 we will have to check. But it's likely that 2.0.0-M15 will accept a finished message with a connection ID included. 

Am I correct ?

Philippe

No, it's likely, that 2.0.0-M15 uses 52 for the hello extension and 2.0.0-M16 53. I would wonder, if the handshake between M16 and M16 could negotiated CID. I guess it will fallback to none CID.

[IANA early code point assignment](https://mailarchive.ietf.org/arch/msg/tls/3wCyihI6Y7ZlciwcSDaQ322myYY)

> Based on your answers in #1094 and your answers above, we should go for 2.0.0-M17.

Or wait until tomorrow and got for 2.0.0-M18.

The extension number is configurable on my side, so I can have the extension set to 52 and the cid included in the finished message when talking to a 2.0.0-M15 server.

In that case is it likely that 2.0.0-M15 will accept a finished message with a connection ID included ?

> The extension number is configurable on my side, so I can have the extension set to 52 and the cid included in the finished message when talking to a 2.0.0-M15 server.

Wise decision :-).

> In that case is it likely that 2.0.0-M15 will accept a finished message with a connection ID included ?

Yes.



Just to mention:
Though we consider to release Californium 2.0.0 within this year, any feedback on the recent changes in the DTLS implementation is highly welcome, especially, if some "backward" switches are required for already deployed solutions. So don't hesitate to collect your experience with the 2.0.0-M18 from tomorrow on and provide us your feedback, if your face any issue with the new one.   

2.0.0-M18 is released!

#1091


Hello @boaks,

we send the finished message as a TLS_CID record now and it works with MS-15 and MS-16. We did not tested it with higher versions.

So, could this issue be closed?

I scheduled the next 2.0.0-M19 for next Thursday.
Hopefully with more fixes than new bugs ;-).
