Blockwise transfer on slow network fails with "Wrong block number. Expected 0 but received 9. Respond with 4.08 (Request Entity Incomplete)"

I run CoAP POST requests at a constant rate (1 request every 2 seconds), with 10kB payload both in request and response. When the network condition is an average/poor mobile connection (3G/2G), about every second request fails, with the message on server "Wrong block number. Expected X but received Y. Respond with 4.08 (Request Entity Incomplete)".

It works fine with ideal network conditions (Ethernet/Wifi, or good 4G mobile connection). It also works fine if I reduce the request rate to about 1 request every 4 seconds.

I can reproduce the failure using a network shaper configured with 100ms delay, data rate 420kbps up, 850kbps down. This should be more than enough bandwidth to get 1 request every 2 seconds through.

I have attached a detailed client and server log, and also client and server tcp dumps. You can see the first occurence of the error in server.log line 230, and server.pcap packet 58.

Maybe the blockwise response of the first request somehow gets intermingled with the blockwise second request?

Logs & dumps:
[blockwise_issue.zip](https://github.com/eclipse/californium/files/252299/blockwise_issue.zip)


You are basically exceeding the available data rate. The reported problem arises because you violate CoAP's congestion control with NSTART=1: You need to finish one blockwise transfer first before starting the next POST (mainly because they are targeting the same resource). The alternative is to cancel the ongoing transfer and restart with the new payload.

If you are only dealing with powerful devices only and usually less constrained networks (cellular, Wi-Fi), [CoAP-over-TCP](https://tools.ietf.org/html/draft-ietf-core-coap-tcp-tls-02) might be what you are looking for.

If the POST loop and bulk data transfer is the primary task of your application, you might be using the wrong protocol...

@henning77

I would interpret the exchange in your logs as two parallel bockwise PUT to 38090/request.
That violates RFC7959, section 2.5 "Using the Block1 Option", page 15, end of section: 

>    The Block1 Option provides no way for a single endpoint to perform
>    multiple concurrently proceeding block-wise request payload transfer
>    (e.g., PUT or POST) operations to the same resource.
> 

Therefore in my opinion the 4.08 is the best response for that violation and gives you the hint, that something was interpreted as incomplete.

If I missunderstood you, just reopen this issue again.