DTLS connection - Client can not receive response from CoAP server/ Not blocking until response arrive

Dear Californium developer,

I currently have a CoAP backend that works perfectly in our local computer and now installing them into the devices itself for testing, basically the set-up involves a CoAP client sending a NON PUT request to a CoAP server with a DTLS connector.

Unfortunately, it seems like most of the packets are lost and the client are retransmitting the packets a lot. The server has no problem receiving the message from the client after the several transmission, however the client was never able to receive a response from the server thus not knowing whether the PUT request was successful.

Thanks, Karlson

Client log
```
Feb 28, 2017 8:24:37 PM org.eclipse.californium.core.network.config.NetworkConfig createStandardWithFile
INFO: Loading standard properties from file Californium.properties
Feb 28, 2017 8:24:38 PM org.eclipse.californium.core.network.CoapEndpoint start
INFO: Starting endpoint at 0.0.0.0/0.0.0.0:0
 1 CONFIG [DTLSConnector]: Cannot determine MTU of network interface, using minimum MTU [1280] of IPv6 instead - (org.eclipse.californium.scandium.DTLSConnector.java:331) start() in thread main at (2017-02-28 20:24:38)
 9 CONFIG [DTLSConnector$Worker]: Starting worker thread [DTLS-Receiver-0.0.0.0/0.0.0.0:41292] - (org.eclipse.californium.scandium.DTLSConnector$Worker.java:-1) run() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:38)
 8 CONFIG [DTLSConnector$Worker]: Starting worker thread [DTLS-Sender-0.0.0.0/0.0.0.0:41292] - (org.eclipse.californium.scandium.DTLSConnector$Worker.java:-1) run() in thread DTLS-Sender-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:38)
 1 INFO [DTLSConnector]: DTLS connector listening on [0.0.0.0/0.0.0.0:41292] with MTU [1,280] using (inbound) datagram buffer size [16,474 bytes] - (org.eclipse.californium.scandium.DTLSConnector.java:281) start() in thread main at (2017-02-28 20:24:38)
Feb 28, 2017 8:24:38 PM org.eclipse.californium.core.CoapClient setEndpoint
INFO: Started set client endpoint 0.0.0.0/0.0.0.0:41292
Feb 28, 2017 8:24:38 PM detector.Service start
INFO: Starting AlertService
Feb 28, 2017 8:24:39 PM detector.AlertService run
INFO: Running AlertService
Feb 28, 2017 8:24:39 PM detector.AlertService run
INFO: Alert Thread: AlertService, 
Feb 28, 2017 8:24:39 PM detector.AlertService run
INFO: coaps://bubblegum.home/alert
 8 FINE [Connection]: Handshake with [bubblegum.home/10.235.68.101:5684] has been started - (org.eclipse.californium.scandium.dtls.Connection.java:831) handshakeStarted() in thread DTLS-Sender-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:40)
 8 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP256r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:373) <init>() in thread DTLS-Sender-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:41)
 8 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP384r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:381) <init>() in thread DTLS-Sender-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:41)
 8 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP512r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:389) <init>() in thread DTLS-Sender-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:41)
Feb 28, 2017 8:24:41 PM detector.AlertService run
INFO: Eventcode: 2
Feb 28, 2017 8:24:41 PM detector.AlertService run
SEVERE: No response
12 FINE [DTLSConnector]: Re-transmitting flight for [bubblegum.home/10.235.68.101:5684], [3] retransmissions left - (org.eclipse.californium.scandium.DTLSConnector.java:112) handleTimeout() in thread DTLS RetransmitTask 1 at (2017-02-28 20:24:42)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:44)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:44)
 9 FINE [ClientHandshaker]: Processed HELLO_VERIFY_REQUEST (3) message with sequence no [0] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:44)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:44)
12 FINE [DTLSConnector]: Re-transmitting flight for [bubblegum.home/10.235.68.101:5684], [3] retransmissions left - (org.eclipse.californium.scandium.DTLSConnector.java:112) handleTimeout() in thread DTLS RetransmitTask 1 at (2017-02-28 20:24:45)
12 FINE [DTLSConnector]: Re-transmitting flight for [bubblegum.home/10.235.68.101:5684], [2] retransmissions left - (org.eclipse.californium.scandium.DTLSConnector.java:112) handleTimeout() in thread DTLS RetransmitTask 1 at (2017-02-28 20:24:47)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:47)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:47)
 9 FINE [ClientHandshaker]: Processed SERVER_HELLO (2) message with sequence no [1] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:47)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:47)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:47)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:47)
 9 FINE [ClientHandshaker]: Processed CERTIFICATE (11) message with sequence no [2] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:51)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:51)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:51)
12 FINE [DTLSConnector]: Re-transmitting flight for [bubblegum.home/10.235.68.101:5684], [1] retransmissions left - (org.eclipse.californium.scandium.DTLSConnector.java:112) handleTimeout() in thread DTLS RetransmitTask 1 at (2017-02-28 20:24:51)
 9 FINE [ClientHandshaker]: Processed SERVER_KEY_EXCHANGE (12) message with sequence no [3] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:51)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:51)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:51)
 9 FINE [ClientHandshaker]: Processed CERTIFICATE_REQUEST (13) message with sequence no [4] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:51)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:52)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:52)
 9 FINE [ClientHandshaker]: Processed SERVER_HELLO_DONE (14) message with sequence no [5] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:53)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:54)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:54)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:54)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:54)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:54)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:54)
12 FINE [DTLSConnector]: Re-transmitting flight for [bubblegum.home/10.235.68.101:5684], [3] retransmissions left - (org.eclipse.californium.scandium.DTLSConnector.java:112) handleTimeout() in thread DTLS RetransmitTask 1 at (2017-02-28 20:24:54)
12 FINE [DTLSConnector]: Re-transmitting flight for [bubblegum.home/10.235.68.101:5684], [2] retransmissions left - (org.eclipse.californium.scandium.DTLSConnector.java:112) handleTimeout() in thread DTLS RetransmitTask 1 at (2017-02-28 20:24:56)
 9 FINE [ClientHandshaker]: Processing Change Cipher Spec (20) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:57)
 9 FINE [ClientHandshaker]: Processed Change Cipher Spec (20) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:57)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:57)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:57)
 9 FINE [Connection]: Session with [bubblegum.home/10.235.68.101:5684] has been established - (org.eclipse.californium.scandium.dtls.Connection.java:837) sessionEstablished() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:57)
 9 FINE [DTLSConnector$5]: Session with [bubblegum.home/10.235.68.101:5684] established, now sending deferred message - (org.eclipse.californium.scandium.DTLSConnector$5.java:837) sessionEstablished() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:57)
 9 FINE [Connection]: Handshake with [bubblegum.home/10.235.68.101:5684] has been completed - (org.eclipse.californium.scandium.dtls.Connection.java:843) handshakeCompleted() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:57)
 9 FINE [ClientHandshaker]: Processed FINISHED (20) message with sequence no [6] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:41292 at (2017-02-28 20:24:57)
```

Server log

```
Feb 28, 2017 8:26:11 PM org.eclipse.californium.core.network.config.NetworkConfig createStandardWithFile
INFO: Loading standard properties from file Californium.properties
Feb 28, 2017 8:26:13 PM org.eclipse.californium.core.CoapServer start
INFO: Starting server
Feb 28, 2017 8:26:13 PM org.eclipse.californium.core.network.CoapEndpoint start
INFO: Starting endpoint at 0.0.0.0/0.0.0.0:5684
Feb 28, 2017 8:26:13 PM org.eclipse.californium.scandium.DTLSConnector start
INFO: DTLS connector listening on [0.0.0.0/0.0.0.0:5684] with MTU [1,280] using (inbound) datagram buffer size [16,474 bytes]
Feb 28, 2017 8:26:13 PM gateway.Service start
INFO: Starting Heartbeat Service
Feb 28, 2017 8:26:13 PM gateway.HeartbeatService run
INFO: Running Heartbeat Service
Feb 28, 2017 8:26:13 PM gateway.Service start
INFO: Starting Alert Service
Feb 28, 2017 8:26:13 PM gateway.HeartbeatService run
INFO: Alert Thread: Heartbeat Service, 
Feb 28, 2017 8:26:14 PM gateway.HeartbeatService run
INFO: https://localhost:9000/heartbeat
Feb 28, 2017 8:26:13 PM gateway.AlertService run
INFO: Running Alert Service
Feb 28, 2017 8:26:14 PM gateway.AlertService run
INFO: Alert Thread: Alert Service, 
Feb 28, 2017 8:26:14 PM gateway.AlertService run
INFO: https://localhost:9000/alert
Feb 28, 2017 8:26:38 PM org.eclipse.californium.scandium.DTLSConnector terminateOngoingHandshake
INFO: Aborting handshake with peer [/10.235.68.102:41292]: Cannot parse X.509 certificate chain provided by peer
Feb 28, 2017 8:26:38 PM org.eclipse.californium.core.network.interceptors.MessageTracer receiveRequest
INFO: /10.235.68.102:41,292 ==> req CON-POST   MID=50320, Token=e04f52eaca15460a, OptionSet={"Uri-Host":"bubblegum.home", "Uri-Path":"alert", "Content-Format":"text/plain"}, "{"id":"FA12BC78A9D62C00"".. 107 bytes
Feb 28, 2017 8:26:39 PM gateway.GatewayCoapServer$AlertCoapResource handlePOST
INFO: Received a detector alert
Feb 28, 2017 8:26:39 PM org.eclipse.californium.core.network.interceptors.MessageTracer sendResponse
INFO: /10.235.68.102:41,292 <== res ACK-2.01   MID=50320, Token=e04f52eaca15460a, OptionSet={}, no payload
```

![image](https://cloud.githubusercontent.com/assets/10365131/23698381/3fc1e346-03e3-11e7-80e1-66426cbb635c.png)

![image](https://cloud.githubusercontent.com/assets/10365131/23698392/463cc844-03e3-11e7-9ae7-3a3c7e4b3256.png)



#213 

Just to confirm: your CoAP server is running on a device (which is quite slow) and the client (running on a server class HW?) uses DTLS to connect to the device, right?

Is the server (your device) sending its reply in an ACK or as a separate CON or NON?

Wireshark file attached, bublegum is the server, peppermint is the client, both devices are slow and uses dtls to connect to each other

[Archive.zip](https://github.com/eclipse/californium/files/828186/Archive.zip)


> We have a suspicion that it is related to this (#213) as our device is quite slow

It could be. If you're right I suspect this is the 4) which is problematic. Could you try increase CoAP ACK_TIMEOUT to avoid CoAP retransmission interfer during DTLS Handshake, like this :
```java
networkConfig.set(Keys.ACK_TIMEOUT, 10000);
```

Works, we use 20,000

It is point no 4 in #213 

also need setTimeout for Coapclient and dtls timeout

builder.setRetransmissionTimeout(20000);
client.setTimeout(30000);

mmmh, `client.setTimeout` make sense to me, but I do not understand why you need to increase the DTLS retransmission timeout ...

Could you send us a capture without changing the DTLS retransmissionTimeout to see what happened ?

Doesnt work now

Client
```
INFO: Loading standard properties from file Californium.properties
Mar 01, 2017 6:17:56 PM org.eclipse.californium.core.network.CoapEndpoint start
INFO: Starting endpoint at 0.0.0.0/0.0.0.0:0
 1 CONFIG [DTLSConnector]: Cannot determine MTU of network interface, using minimum MTU [1280] of IPv6 instead - (org.eclipse.californium.scandium.DTLSConnector.java:331) start() in thread main at (2017-03-01 18:17:57)
 9 CONFIG [DTLSConnector$Worker]: Starting worker thread [DTLS-Receiver-0.0.0.0/0.0.0.0:40259] - (org.eclipse.californium.scandium.DTLSConnector$Worker.java:-1) run() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:17:57)
 8 CONFIG [DTLSConnector$Worker]: Starting worker thread [DTLS-Sender-0.0.0.0/0.0.0.0:40259] - (org.eclipse.californium.scandium.DTLSConnector$Worker.java:-1) run() in thread DTLS-Sender-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:17:57)
 1 INFO [DTLSConnector]: DTLS connector listening on [0.0.0.0/0.0.0.0:40259] with MTU [1,280] using (inbound) datagram buffer size [16,474 bytes] - (org.eclipse.californium.scandium.DTLSConnector.java:281) start() in thread main at (2017-03-01 18:17:57)
Mar 01, 2017 6:17:57 PM org.eclipse.californium.core.CoapClient setEndpoint
INFO: Started set client endpoint 0.0.0.0/0.0.0.0:40259
 8 FINE [Connection]: Handshake with [bubblegum.home/10.235.68.101:5684] has been started - (org.eclipse.californium.scandium.dtls.Connection.java:831) handshakeStarted() in thread DTLS-Sender-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:17:57)
 8 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP256r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:373) <init>() in thread DTLS-Sender-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:17:59)
 8 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP384r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:381) <init>() in thread DTLS-Sender-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:17:59)
 8 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP512r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:389) <init>() in thread DTLS-Sender-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:17:59)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:02)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:02)
 9 FINE [ClientHandshaker]: Processed HELLO_VERIFY_REQUEST (3) message with sequence no [0] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:02)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:06)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:06)
 9 FINE [ClientHandshaker]: Processed SERVER_HELLO (2) message with sequence no [1] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:06)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:06)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:06)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:06)
 9 FINE [ClientHandshaker]: Processed CERTIFICATE (11) message with sequence no [2] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:09)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:09)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:10)
 9 FINE [ClientHandshaker]: Processed SERVER_KEY_EXCHANGE (12) message with sequence no [3] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:10)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:10)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:10)
 9 FINE [ClientHandshaker]: Processed CERTIFICATE_REQUEST (13) message with sequence no [4] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:10)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:10)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:10)
 9 FINE [ClientHandshaker]: Processed SERVER_HELLO_DONE (14) message with sequence no [5] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:12)
 9 FINE [ClientHandshaker]: Processing Change Cipher Spec (20) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:17)
 9 FINE [ClientHandshaker]: Processed Change Cipher Spec (20) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:17)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:17)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:17)
 9 FINE [Connection]: Session with [bubblegum.home/10.235.68.101:5684] has been established - (org.eclipse.californium.scandium.dtls.Connection.java:837) sessionEstablished() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:17)
 9 FINE [DTLSConnector$5]: Session with [bubblegum.home/10.235.68.101:5684] established, now sending deferred message - (org.eclipse.californium.scandium.DTLSConnector$5.java:837) sessionEstablished() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:17)
 9 FINE [Connection]: Handshake with [bubblegum.home/10.235.68.101:5684] has been completed - (org.eclipse.californium.scandium.dtls.Connection.java:843) handshakeCompleted() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:17)
 9 FINE [ClientHandshaker]: Processed FINISHED (20) message with sequence no [6] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:40259 at (2017-03-01 18:18:17)
2.05
{"Content-Format":"text/plain"}
hello security

ADVANCED

==[ CoAP Response ]============================================
MID    : 730
Token  : 30ed
Type   : ACK
Status : 2.05
Options: {"Content-Format":"text/plain"}
Payload: 14 Bytes
---------------------------------------------------------------
hello security
===============================================================
^C^C^Croot@peppermint:~/test/test# java -cp target/test-0.0.1-SNAPSHOT.jar test.SecureClient
Mar 01, 2017 6:30:29 PM org.eclipse.californium.core.network.config.NetworkConfig createStandardWithFile
INFO: Loading standard properties from file Californium.properties
Mar 01, 2017 6:30:30 PM org.eclipse.californium.core.network.CoapEndpoint start
INFO: Starting endpoint at 0.0.0.0/0.0.0.0:0
 1 CONFIG [DTLSConnector]: Cannot determine MTU of network interface, using minimum MTU [1280] of IPv6 instead - (org.eclipse.californium.scandium.DTLSConnector.java:331) start() in thread main at (2017-03-01 18:30:30)
 9 CONFIG [DTLSConnector$Worker]: Starting worker thread [DTLS-Receiver-0.0.0.0/0.0.0.0:60394] - (org.eclipse.californium.scandium.DTLSConnector$Worker.java:-1) run() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:30)
 8 CONFIG [DTLSConnector$Worker]: Starting worker thread [DTLS-Sender-0.0.0.0/0.0.0.0:60394] - (org.eclipse.californium.scandium.DTLSConnector$Worker.java:-1) run() in thread DTLS-Sender-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:30)
 1 INFO [DTLSConnector]: DTLS connector listening on [0.0.0.0/0.0.0.0:60394] with MTU [1,280] using (inbound) datagram buffer size [16,474 bytes] - (org.eclipse.californium.scandium.DTLSConnector.java:281) start() in thread main at (2017-03-01 18:30:30)
Mar 01, 2017 6:30:30 PM org.eclipse.californium.core.CoapClient setEndpoint
INFO: Started set client endpoint 0.0.0.0/0.0.0.0:60394
 8 FINE [Connection]: Handshake with [bubblegum.home/10.235.68.101:5684] has been started - (org.eclipse.californium.scandium.dtls.Connection.java:831) handshakeStarted() in thread DTLS-Sender-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:31)
 8 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP256r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:373) <init>() in thread DTLS-Sender-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:32)
 8 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP384r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:381) <init>() in thread DTLS-Sender-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:32)
 8 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP512r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:389) <init>() in thread DTLS-Sender-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:32)
No response received.
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:36)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:36)
 9 FINE [ClientHandshaker]: Processed HELLO_VERIFY_REQUEST (3) message with sequence no [0] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:36)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:39)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:39)
 9 FINE [ClientHandshaker]: Processed SERVER_HELLO (2) message with sequence no [1] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:39)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:39)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:39)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:39)
 9 FINE [ClientHandshaker]: Processed CERTIFICATE (11) message with sequence no [2] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:43)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:43)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:43)
 9 FINE [ClientHandshaker]: Processed SERVER_KEY_EXCHANGE (12) message with sequence no [3] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:44)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:44)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:44)
 9 FINE [ClientHandshaker]: Processed CERTIFICATE_REQUEST (13) message with sequence no [4] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:44)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:44)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:44)
 9 FINE [ClientHandshaker]: Processed SERVER_HELLO_DONE (14) message with sequence no [5] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:45)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:46)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:47)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:47)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:47)
 9 FINE [ClientHandshaker]: Processing Change Cipher Spec (20) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:50)
 9 FINE [ClientHandshaker]: Processed Change Cipher Spec (20) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:50)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.101:5684] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:50)
 9 FINE [ClientHandshaker]: Processing Handshake (22) message from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:179) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:50)
 9 FINE [Connection]: Session with [bubblegum.home/10.235.68.101:5684] has been established - (org.eclipse.californium.scandium.dtls.Connection.java:837) sessionEstablished() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:50)
 9 FINE [DTLSConnector$5]: Session with [bubblegum.home/10.235.68.101:5684] established, now sending deferred message - (org.eclipse.californium.scandium.DTLSConnector$5.java:837) sessionEstablished() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:50)
 9 FINE [Connection]: Handshake with [bubblegum.home/10.235.68.101:5684] has been completed - (org.eclipse.californium.scandium.dtls.Connection.java:843) handshakeCompleted() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:51)
 9 FINE [ClientHandshaker]: Processed FINISHED (20) message with sequence no [6] from peer [bubblegum.home/10.235.68.101:5684] - (org.eclipse.californium.scandium.dtls.ClientHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:60394 at (2017-03-01 18:30:51)
```

Server Log

```
 1 INFO [NetworkConfig]: Loading standard properties from file Californium.properties - (org.eclipse.californium.core.network.config.NetworkConfig.java:169) createStandardWithFile() in thread main at (2017-03-01 18:19:20)
 1 CONFIG [UdpMatcher]: Matcher uses USE_RANDOM_MID_START=true, TOKEN_SIZE_LIMIT=8 and USE_STRICT_RESPONSE_MATCHING=false - (org.eclipse.californium.core.network.UdpMatcher.java:120) <init>() in thread main at (2017-03-01 18:19:27)
 1 CONFIG [ReliabilityLayer]: ReliabilityLayer uses ACK_TIMEOUT=30,000, ACK_RANDOM_FACTOR=1.5, and ACK_TIMEOUT_SCALE=2 - (org.eclipse.californium.core.network.stack.ReliabilityLayer.java:103) <init>() in thread main at (2017-03-01 18:19:27)
 1 CONFIG [BlockwiseLayer]: BlockwiseLayer uses MAX_MESSAGE_SIZE=1,024, DEFAULT_BLOCK_SIZE=512 and BLOCKWISE_STATUS_LIFETIME=600,000 - (org.eclipse.californium.core.network.stack.BlockwiseLayer.java:106) <init>() in thread main at (2017-03-01 18:19:27)
 1 INFO [CoapServer]: Starting server - (org.eclipse.californium.core.CoapServer.java:188) start() in thread main at (2017-03-01 18:19:28)
root@bubblegum:~/test/test# java -cp target/test-0.0.1-SNAPSHOT.jar test.SecureServer
 1 INFO [NetworkConfig]: Loading standard properties from file Californium.properties - (org.eclipse.californium.core.network.config.NetworkConfig.java:169) createStandardWithFile() in thread main at (2017-03-01 18:31:52)
 1 CONFIG [UdpMatcher]: Matcher uses USE_RANDOM_MID_START=true, TOKEN_SIZE_LIMIT=8 and USE_STRICT_RESPONSE_MATCHING=false - (org.eclipse.californium.core.network.UdpMatcher.java:120) <init>() in thread main at (2017-03-01 18:31:59)
 1 CONFIG [ReliabilityLayer]: ReliabilityLayer uses ACK_TIMEOUT=30,000, ACK_RANDOM_FACTOR=1.5, and ACK_TIMEOUT_SCALE=2 - (org.eclipse.californium.core.network.stack.ReliabilityLayer.java:103) <init>() in thread main at (2017-03-01 18:31:59)
 1 CONFIG [BlockwiseLayer]: BlockwiseLayer uses MAX_MESSAGE_SIZE=1,024, DEFAULT_BLOCK_SIZE=512 and BLOCKWISE_STATUS_LIFETIME=600,000 - (org.eclipse.californium.core.network.stack.BlockwiseLayer.java:106) <init>() in thread main at (2017-03-01 18:32:00)
 1 INFO [CoapServer]: Starting server - (org.eclipse.californium.core.CoapServer.java:188) start() in thread main at (2017-03-01 18:32:00)
 1 INFO [CoapEndpoint]: Starting endpoint at 0.0.0.0/0.0.0.0:5684 - (org.eclipse.californium.core.network.CoapEndpoint.java:200) start() in thread main at (2017-03-01 18:32:00)
 1 CONFIG [DTLSConnector]: Cannot determine MTU of network interface, using minimum MTU [1280] of IPv6 instead - (org.eclipse.californium.scandium.DTLSConnector.java:331) start() in thread main at (2017-03-01 18:32:00)
 9 CONFIG [DTLSConnector$Worker]: Starting worker thread [DTLS-Receiver-0.0.0.0/0.0.0.0:5684] - (org.eclipse.californium.scandium.DTLSConnector$Worker.java:-1) run() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:00)
 8 CONFIG [DTLSConnector$Worker]: Starting worker thread [DTLS-Sender-0.0.0.0/0.0.0.0:5684] - (org.eclipse.californium.scandium.DTLSConnector$Worker.java:-1) run() in thread DTLS-Sender-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:00)
 1 INFO [DTLSConnector]: DTLS connector listening on [0.0.0.0/0.0.0.0:5684] with MTU [1,280] using (inbound) datagram buffer size [16,474 bytes] - (org.eclipse.californium.scandium.DTLSConnector.java:281) start() in thread main at (2017-03-01 18:32:00)
Secure CoAP server powered by Scandium (Sc) is listening on port 5684
 9 FINER [DTLSConnector]: Received 1 DTLS records using a 16,474 byte datagram buffer - (org.eclipse.californium.scandium.DTLSConnector.java:112) receiveNextDatagramFromNetwork() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:13)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:13)
 9 FINE [Record]: Parsing message without a session - (org.eclipse.californium.scandium.dtls.Record.java:830) decryptHandshakeMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:14)
 9 FINER [Record]: Parsing HANDSHAKE message plaintext using KeyExchange [NULL] and receiveRawPublicKey [false] - (org.eclipse.californium.scandium.dtls.Record.java:830) decryptHandshakeMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:14)
 9 FINE [DTLSConnector]: Processing CLIENT_HELLO from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.DTLSConnector.java:864) processClientHello() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:14)
 9 FINER [DTLSConnector]: Verifying client IP address [/10.235.68.102:60394] using HELLO_VERIFY_REQUEST - (org.eclipse.californium.scandium.DTLSConnector.java:949) sendHelloVerify() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:16)
 9 FINER [DTLSConnector]: Received 1 DTLS records using a 16,474 byte datagram buffer - (org.eclipse.californium.scandium.DTLSConnector.java:112) receiveNextDatagramFromNetwork() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:16)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:16)
 9 FINE [Record]: Parsing message without a session - (org.eclipse.californium.scandium.dtls.Record.java:830) decryptHandshakeMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:16)
 9 FINER [Record]: Parsing HANDSHAKE message plaintext using KeyExchange [NULL] and receiveRawPublicKey [false] - (org.eclipse.californium.scandium.dtls.Record.java:830) decryptHandshakeMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:16)
 9 FINE [DTLSConnector]: Processing CLIENT_HELLO from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.DTLSConnector.java:864) processClientHello() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:16)
 9 FINER [DTLSSession]: Setting MTU for peer [/10.235.68.102:60394] to 1,280 bytes - (org.eclipse.californium.scandium.dtls.DTLSSession.java:212) setMaxTransmissionUnit() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:17)
 9 FINER [DTLSSession]: Setting maximum fragment length for peer [/10.235.68.102:60394] to 1,227 bytes - (org.eclipse.californium.scandium.dtls.DTLSSession.java:597) determineMaxFragmentLength() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:17)
 9 FINER [DTLSSession]: Checking sequence no [1] using bit mask [10] against received records [0] with lower boundary [0] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:359) isDuplicate() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:17)
 9 FINE [ServerHandshaker]: Processing Handshake (22) message from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:238) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:17)
 9 FINE [Connection]: Handshake with [/10.235.68.102:60394] has been started - (org.eclipse.californium.scandium.dtls.Connection.java:831) handshakeStarted() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:17)
 9 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP256r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:373) <init>() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:18)
 9 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP384r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:381) <init>() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:18)
 9 FINE [ECDHECryptography$SupportedGroup]: Group [brainpoolP512r1] is not supported by JRE - (org.eclipse.californium.scandium.dtls.cipher.ECDHECryptography$SupportedGroup.java:389) <init>() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:18)
 9 FINER [ServerHandshaker]: Negotiated cipher suite [TLS_ECDHE_ECDSA_WITH_AES_128_CCM_8] with peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:493) negotiateCipherSuite() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:18)
 9 FINER [CertificateMessage]: Current Subject DN: 1.2.840.113549.1.9.1=#16106b61726c736f6e40746573742e636f6d,CN=localhost,OU=IT,O=test.com,L=London,ST=England,C=GB - (org.eclipse.californium.scandium.dtls.CertificateMessage.java:125) setCertificateChain() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:19)
 9 FINER [CertificateMessage]: Expected Issuer DN: CN=Test Intermediate CA,OU=Test Certificate Authority,O=Test,ST=England,C=GB - (org.eclipse.californium.scandium.dtls.CertificateMessage.java:125) setCertificateChain() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:19)
 9 FINER [Handshaker]: Splitting up CERTIFICATE (11) message for [/10.235.68.102:60394] into multiple fragments of max 1,227 bytes - (org.eclipse.californium.scandium.dtls.Handshaker.java:566) wrapHandshakeMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:19)
 9 FINER [DTLSConnector]: Sending flight of 6 message(s) to peer [/10.235.68.102:60394] using 3 datagram(s) of max. 1,280 bytes - (org.eclipse.californium.scandium.DTLSConnector.java:1267) sendFlight() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:20)
 9 FINE [ServerHandshaker]: Processed CLIENT_HELLO (1) message with message sequence no [1] from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:20)
 9 FINER [DTLSSession]: Updated receive window with sequence number [1]: new upper boundary [63], new bit vector [10] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:378) markRecordAsRead() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:20)
13 FINE [DTLSConnector]: Re-transmitting flight for [/10.235.68.102:60394], [3] retransmissions left - (org.eclipse.californium.scandium.DTLSConnector.java:112) handleTimeout() in thread DTLS RetransmitTask 1 at (2017-03-01 18:32:21)
13 FINER [DTLSConnector]: Sending flight of 6 message(s) to peer [/10.235.68.102:60394] using 3 datagram(s) of max. 1,280 bytes - (org.eclipse.californium.scandium.DTLSConnector.java:1360) sendFlight() in thread DTLS RetransmitTask 1 at (2017-03-01 18:32:21)
13 FINE [DTLSConnector]: Re-transmitting flight for [/10.235.68.102:60394], [2] retransmissions left - (org.eclipse.californium.scandium.DTLSConnector.java:112) handleTimeout() in thread DTLS RetransmitTask 1 at (2017-03-01 18:32:23)
13 FINER [DTLSConnector]: Sending flight of 6 message(s) to peer [/10.235.68.102:60394] using 3 datagram(s) of max. 1,280 bytes - (org.eclipse.californium.scandium.DTLSConnector.java:1360) sendFlight() in thread DTLS RetransmitTask 1 at (2017-03-01 18:32:23)
 9 FINER [DTLSConnector]: Received 5 DTLS records using a 16,474 byte datagram buffer - (org.eclipse.californium.scandium.DTLSConnector.java:112) receiveNextDatagramFromNetwork() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINER [Record]: Parsing HANDSHAKE message plaintext using KeyExchange [EC_DIFFIE_HELLMAN] and receiveRawPublicKey [true] - (org.eclipse.californium.scandium.dtls.Record.java:830) decryptHandshakeMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINER [CertificateMessage]: Parsing RawPublicKey CERTIFICATE message - (org.eclipse.californium.scandium.dtls.CertificateMessage.java:220) fromByteArray() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINER [DTLSSession]: Checking sequence no [2] using bit mask [100] against received records [10] with lower boundary [0] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:359) isDuplicate() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINE [ServerHandshaker]: Processing Handshake (22) message from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:238) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINE [ServerHandshaker]: Processed CERTIFICATE (11) message with message sequence no [2] from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINER [DTLSSession]: Updated receive window with sequence number [2]: new upper boundary [63], new bit vector [110] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:378) markRecordAsRead() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINER [Record]: Parsing HANDSHAKE message plaintext using KeyExchange [EC_DIFFIE_HELLMAN] and receiveRawPublicKey [true] - (org.eclipse.californium.scandium.dtls.Record.java:830) decryptHandshakeMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINER [DTLSSession]: Checking sequence no [3] using bit mask [1000] against received records [110] with lower boundary [0] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:359) isDuplicate() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:26)
 9 FINE [ServerHandshaker]: Processing Handshake (22) message from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:238) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:27)
13 FINE [DTLSConnector]: Re-transmitting flight for [/10.235.68.102:60394], [1] retransmissions left - (org.eclipse.californium.scandium.DTLSConnector.java:112) handleTimeout() in thread DTLS RetransmitTask 1 at (2017-03-01 18:32:27)
13 FINER [DTLSConnector]: Sending flight of 6 message(s) to peer [/10.235.68.102:60394] using 3 datagram(s) of max. 1,280 bytes - (org.eclipse.californium.scandium.DTLSConnector.java:1360) sendFlight() in thread DTLS RetransmitTask 1 at (2017-03-01 18:32:27)
 9 FINE [ServerHandshaker]: Processed CLIENT_KEY_EXCHANGE (16) message with message sequence no [3] from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:27)
 9 FINER [DTLSSession]: Updated receive window with sequence number [3]: new upper boundary [63], new bit vector [1110] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:378) markRecordAsRead() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:27)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:27)
 9 FINER [Record]: Parsing HANDSHAKE message plaintext using KeyExchange [EC_DIFFIE_HELLMAN] and receiveRawPublicKey [true] - (org.eclipse.californium.scandium.dtls.Record.java:830) decryptHandshakeMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:27)
 9 FINER [DTLSSession]: Checking sequence no [4] using bit mask [10000] against received records [1110] with lower boundary [0] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:359) isDuplicate() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:27)
 9 FINE [ServerHandshaker]: Processing Handshake (22) message from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:238) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:27)
 9 FINE [ServerHandshaker]: Processed CERTIFICATE_VERIFY (15) message with message sequence no [4] from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:29)
 9 FINER [DTLSSession]: Updated receive window with sequence number [4]: new upper boundary [63], new bit vector [11110] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:378) markRecordAsRead() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:29)
 9 FINER [DTLSSession]: Checking sequence no [5] using bit mask [100000] against received records [11110] with lower boundary [0] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:359) isDuplicate() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:29)
 9 FINE [ServerHandshaker]: Processing Change Cipher Spec (20) message from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:238) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:29)
 9 FINE [ServerHandshaker]: Processed Change Cipher Spec (20) message from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:29)
 9 FINE [DTLSConnector]: Received Handshake (22) record from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.DTLSConnector.java:455) processHandshakeRecord() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:29)
 9 FINER [Record]: Parsing HANDSHAKE message plaintext using KeyExchange [EC_DIFFIE_HELLMAN] and receiveRawPublicKey [true] - (org.eclipse.californium.scandium.dtls.Record.java:830) decryptHandshakeMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:30)
 9 FINER [DTLSSession]: Checking sequence no [0] using bit mask [1] against received records [0] with lower boundary [0] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:359) isDuplicate() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINE [ServerHandshaker]: Processing Handshake (22) message from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:238) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINER [DTLSSession]: Setting maximum fragment length for peer [/10.235.68.102:60394] to 1,211 bytes - (org.eclipse.californium.scandium.dtls.DTLSSession.java:486) determineMaxFragmentLength() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINER [DTLSConnector]: Sending flight of 2 message(s) to peer [/10.235.68.102:60394] using 1 datagram(s) of max. 1,280 bytes - (org.eclipse.californium.scandium.DTLSConnector.java:1267) sendFlight() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINE [Connection]: Session with [/10.235.68.102:60394] has been established - (org.eclipse.californium.scandium.dtls.Connection.java:837) sessionEstablished() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINE [ServerHandshaker]: Processed FINISHED (20) message with message sequence no [5] from peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.dtls.ServerHandshaker.java:372) doProcessMessage() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINER [DTLSSession]: Updated receive window with sequence number [0]: new upper boundary [63], new bit vector [1] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:378) markRecordAsRead() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINER [DTLSConnector]: Received 1 DTLS records using a 16,474 byte datagram buffer - (org.eclipse.californium.scandium.DTLSConnector.java:112) receiveNextDatagramFromNetwork() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINER [DTLSSession]: Checking sequence no [1] using bit mask [10] against received records [1] with lower boundary [0] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:726) isDuplicate() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINE [Connection]: Handshake with [/10.235.68.102:60394] has been completed - (org.eclipse.californium.scandium.dtls.Connection.java:596) handshakeCompleted() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
 9 FINER [DTLSSession]: Updated receive window with sequence number [1]: new upper boundary [63], new bit vector [11] - (org.eclipse.californium.scandium.dtls.DTLSSession.java:597) markRecordAsRead() in thread DTLS-Receiver-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:31)
10 INFO [MessageTracer]: /10.235.68.102:60,394 ==> req CON-GET    MID=63410, Token=7c4a41cb8372, OptionSet={"Uri-Host":"bubblegum.home", "Uri-Path":"secure"}, no payload - (org.eclipse.californium.core.network.interceptors.MessageTracer.java:777) receiveRequest() in thread CoapServer#2 at (2017-03-01 18:32:32)
10 INFO [MessageTracer]: /10.235.68.102:60,394 <== res ACK-2.05   MID=63410, Token=7c4a41cb8372, OptionSet={"Content-Format":"text/plain"}, "hello security" - (org.eclipse.californium.core.network.interceptors.MessageTracer.java:623) sendResponse() in thread CoapServer#2 at (2017-03-01 18:32:32)
 8 FINER [DTLSConnector]: Sending application layer message to peer [/10.235.68.102:60394] - (org.eclipse.californium.scandium.DTLSConnector.java:1140) sendMessage() in thread DTLS-Sender-0.0.0.0/0.0.0.0:5684 at (2017-03-01 18:32:32)
```

If I would like to fix this, what would be a good place for me to add a pause in for the retransmission?

It does not work without the DTLS retransmissionTimeout.

Would you like the wireshark capture or logs?

>Would you like the wireshark capture or logs?

Please, the wireshark capture.

> If I would like to fix this, what would be a good place for me to add a pause in for the retransmission?

Not so easy, if the problem is really the 4) point of #213, I can not see an easy fix.
1) I suppose the connector could raise event to the upper layer to let it know that data is sent or dropped and so it could start its timer retransmission. (Something we need for other feature like https://github.com/eclipse/leshan/pull/249 or https://github.com/eclipse/californium/pull/202#pullrequestreview-18808816)
2) the other solution could be to enqueue APPLICATION DATA waiting handhake is done, but it seems strange to me to enqueue CoAP retry while we never succeed to send the first one ^^

@sophokles73, @boaks any idea about that ?


Archive 3.zip
[Archive 3.zip](https://github.com/eclipse/californium/files/831869/Archive.3.zip)


Would it be fair to assume that most  IoT devices that uses californium would suffer this similar issue?

Setting `CoapClient.setTimeout()` to a high value is necessary in order to allow for potential retransmissions of request and response messages. The default value has been `ACK_TIMEOUT` in the past and has been adjusted to `EXCHANGE_LIFETIME` in as part of fixing #197.
However, setting this property to a high value does **not** prevent the `ReliabilityLayer` from retransmitting an application layer request *before* the DTLS session has been fully negotiated by Scandium. For that, the `ACK_TIMEOUT` value of Californium's `NetworkConfig` would need to be set to quite a high value (larger than the anticipated overall time it takes to do the full DTLS handshake). However, this doesn't really make sense because it would effectively prevent any meaningful retransmissions taking place at all.
Using `DtlsConnectorConfig.setRetransmissionTimeout()` to increase the timeout of handshake flights might make sense in cases where your network is very slow or where the server takes very long to process the client's handshake messages. However, based on what I said above, this would only add to the overall time the DTLS handshake takes, thus requiring to extend the `ACK_TIMEOUT` value even further.

I am afraid that we do not have a good solution for this problem right now :-( I guess we would need to provide means for Scandium to signal to the application layer whether a DTLS session is already available and/or when the DTLS session has been established so that the application layer can refrain from sending/retransmitting until the session is usable.

@sophokles73 is absolutely right. And maybe I was not clear but I just propose to play with this setting just to try to make a diagnostics, this is clearly not the right way to fix the problem.

> I guess we would need to provide means for Scandium to signal to the application layer whether a DTLS session is already available and/or when the DTLS session has been established 

What about having a signal that say message sent (if message is sent this means that handshake is successful)

Here is my analyze of the wireshark capture without CoAP retransmission (so without the 4) point issue)

```
 1 23:51:36.607035    10.235.68.143    46081  10.235.68.177    5684   Client Hello
 2 23:51:37.086390    10.235.68.177    5684   10.235.68.143    46081  Hello Verify Request
 3 23:51:37.240068    10.235.68.143    46081  10.235.68.177    5684   Client Hello
 // below this is a client retransmission because server does not answer in time
 4 23:51:38.284045    10.235.68.143    46081  10.235.68.177    5684   Client Hello  
 5 23:51:38.697975    10.235.68.177    5684   10.235.68.143    46081  Server Hello
 6 23:51:38.698366    10.235.68.177    5684   10.235.68.143    46081  Certificate (Fragment)
 7 23:51:38.698615    10.235.68.177    5684   10.235.68.143    46081  Certificate (Reassembled), Server Key Exchange, Certificate Request, Server Hello Done
 // below this is a server retransmission because client does not answer at all
 8 23:51:39.709405    10.235.68.177    5684   10.235.68.143    46081  Server Hello
 9 23:51:39.709553    10.235.68.177    5684   10.235.68.143    46081  Certificate[Reassembly error, protocol DTLS: New fragment overlaps old data (retransmission?)]
10 23:51:39.711010    10.235.68.177    5684   10.235.68.143    46081  Certificate[Reassembly error, protocol DTLS: New fragment overlaps old data (retransmission?)]
// here this is the third Client Hello retransmission, I do not understand why because client should answer with Certifcate message since "Server Hello Done" was sent...
11 23:51:40.318190    10.235.68.143    46081  10.235.68.177    5684   Client Hello
// As server recieved client hello, he send again retransmit Server Hello, ... ServerHelloDone
14 23:51:41.731017    10.235.68.177    5684   10.235.68.143    46081  Server Hello
15 23:51:41.731163    10.235.68.177    5684   10.235.68.143    46081  Certificate[Reassembly error, protocol DTLS: New fragment overlaps old data (retransmission?)]
16 23:51:41.732571    10.235.68.177    5684   10.235.68.143    46081  Certificate[Reassembly error, protocol DTLS: New fragment overlaps old data (retransmission?)]
// Client still not answer and retransmit message again ...
19 23:51:44.353610    10.235.68.143    46081  10.235.68.177    5684   Client Hello
// As server recieved client hello, he send again retransmit Server Hello, ... ServerHelloDone
20 23:51:45.053746    10.235.68.143    46081  10.235.68.177    5684   Certificate, Client Key Exchange, Certificate Verify, Change Cipher Spec, Encrypted Handshake Message
21 23:51:45.749813    10.235.68.177    5684   10.235.68.143    46081  Server Hello
22 23:51:45.750284    10.235.68.177    5684   10.235.68.143    46081  Certificate[Reassembly error, protocol DTLS: New fragment overlaps old data (retransmission?)]
23 23:51:45.750540    10.235.68.177    5684   10.235.68.143    46081  Certificate[Reassembly error, protocol DTLS: New fragment overlaps old data (retransmission?)]
// finally the client sent the Certificate response and the handshake ends normally...
24 23:51:46.075342    10.235.68.143    46081  10.235.68.177    5684   Certificate, Client Key Exchange, Certificate Verify, Change Cipher Spec, Encrypted Handshake Message
25 23:51:46.529181    10.235.68.177    5684   10.235.68.143    46081  Change Cipher Spec, Encrypted Handshake Message
26 23:51:46.816196    10.235.68.143    46081  10.235.68.177    5684   Application Data
27 23:51:46.822584    10.235.68.177    5684   10.235.68.143    46081  Encrypted Alert
28 23:51:47.458559    10.235.68.177    5684   10.235.68.143    46081  Application Data
```
It seems there is another problem here, but I can not explain it. Several time client does not answer to server despite server sent all messages client needs...

> What about having a signal that say message sent (if message is sent this means that handshake is successful)

And the application would then not be allowed to do a retransmission until it has received this signal, right?

Exactly. 

Wireshak capture for successful request

[success.zip](https://github.com/eclipse/californium/files/834461/success.zip)




is there a reason why the Key exchange is taking the so long? Is it because it is not using RSA? We would like to know as we are wondering if this performance issue to due to the device or Californium

Your pcap shows, that the RTT seems to be about 1.5s.
And your client additionaly requires 6s for calculations of "Cipher Suite: TLS_ECDHE_ECDSA_WITH_AES_128_CCM_8 (0xc0ae)". 
Depending on your client hardware, these 6s are not too bad.
In sum, RTT + client calculations, it's about 12s.
 
Using a cipher suite with PSK would make the clients caluculations much faster, but with the RTT of 1.5s it will also take about 6s in sum with PSK.

And yes, if your RTT is 1.5s, the default DTLS retransmission time of 1s is too fast and may cause trouble.
 

I made some additional test, adding sleeps to certain steps in the handshake. 
My result:
- even with a lot of retransmission, the handshake succeeds
- but depending on the amount of sleeps, the coap request will timeout.

The coap timeout occurs, because it's starts the retransmission timer when the request is scheduled to being sent. May be we change to start the retransmission timer, when the data is really sent.  
Therefore I created issue #305

> // here this is the third Client Hello retransmission, I do not understand why because client should answer with Certifcate message since "Server Hello Done" was sent...
> 11 23:51:40.318190    10.235.68.143    46081  10.235.68.177    5684   Client Hello

That's an issue of the exact definition of the retransmission. 
Currently the retransmission is triggered by the sending of the last flight.
It ignores received data until the received is processed and the next flight is to be sent or the handshake is finished. Though ECC takes 3s, the response flight from the client (for SERVER_HELLO_DONE) is delayed and therefore the current flight with "CLIENT_HELLO" is retransmitted. The current implementation therefore may just sent the flights more times, but on receiving, the duplicates are ignored. 

As RFC6347, section 4.2.4, define the flight to be monolithic according the timeout/retransmission, this seems to be valid (what doesn't mean, it could not be improved :-) ).


@i25959341 

branch 2.0.x now contains a lot of optimizations for this issue. If possible, please retest this issue. I f it works for you, please close it. 

Seems to be a stale issue. Therefore I close it. 
Feel free to reopen the issue or create a new issue, if it occurs again.