Insufficient Data response

Hi,

This isn't an issue but I'm couldn't find much help online.
I'm working on coap client implementation, I already have coap server running on node-coap which reads data from sensors.
The data is pushed to the server from sensor using PUT method and with a payload.
I'm writing coap client just playing with the example CoapClientExample provided in the docs.I'm reading data from coap server. Unfortunately I'm not able to pull data from the URI.
I'm getting Insufficient data as response payload.


* branch your faced the issue. Currently 
   * 1.1 is the master, 

Can some one help me on this?


I'm not sure, if I understand your case:
1. server running on "node-coap" reading data from a sensor => OK
2 the data is pushed from sensor using PUT. => ??? a PUT is used by a CoAP client to write data to the CoAP server. But how does the sensor, part of the server, send a PUT to the server?
3. the daat is the read with the CoapClientExample using GET. => May be you can provide some compiled values in the node-coap server to check, if you can read them with GET.

In most cases, logs are very useful. For communication the common tool is wireshark. If you allowed to use it, please provide captures.


@boaks Thanks a lot for responding.

Regarding part 2 of your response, the sensor is a simulator for now which is a node application which generates random data(which contains current timestamp as one field) and creates a PUT request to the server.The request payload is encoded in cbor format.

The compiled values in the node-coap looks like this RAW DATA [/555]: �bts^�d8�evalueieventTypea3gsubjectksensor_dead

which is encoded. I'm not sure how to decode it cbor.decode didn't help it is returning byte array

Below is the log for coapclientexample
`Sep 26, 2017 1:05:14 PM org.eclipse.californium.core.network.CoapEndpoint start
INFO: Starting endpoint at 0.0.0.0/0.0.0.0:0
Sep 26, 2017 1:05:14 PM org.eclipse.californium.core.network.EndpointManager createDefaultEndpoint
INFO: Created implicit default endpoint 0.0.0.0/0.0.0.0:35236
5.00
{}
Insufficient data
Insufficient data

DETAILED RESPONSE:
==[ CoAP Response ]============================================
MID    : 5102
Token  : 07aa101e2803399c
Type   : NON
Status : 5.00
Options: {}
Payload: 17 Bytes
---------------------------------------------------------------
Insufficient data
===============================================================`




@boaks I've installed wireshark since both server and client are running in my local, I'm not able to capture the traffic :(

Hi,
Following is the wireshark screenshot.
![selection_006](https://user-images.githubusercontent.com/2484004/30878962-0e03d94e-a2cc-11e7-8178-de5dd44fa109.png)

Please let me know if you need specific logs from wireshark I can get it for you


Screenshots of wireshark are nice, but you could upload the capture file  by itself. You may export only selected records into such capture file.

Your capture shows, that what ever you use a software on the server node, it's far away from comply to RFC7252 ;-). 

1. screenshot
The answers to the 4 times repeated NON PUT to /555 seems to be repeated NON 2.05 content with URI /555. That seems not to comply with RFC7252, section 5.8.3 PUT.
It smells for wrong assumption about the MID, and the proper response. 

2. screenshot
The answer to the CON GET /555 is a NON 5.00 internal server error, followed by an ACK. 
So the server can't process the GET and reports an internal server error. What causes that is left to a analysis of the server itself.

So, sorry, but FMPOV you may better ask the implementers of the server implementation about that issues.


Just, if you interested:

https://tools.ietf.org/html/rfc7252

is the online resource of the basic CoAP specification. 